<form #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.valid && resetPassword()">
    <div class="form-group">
        <label>New Password</label>
        <input type="password" required minlength="3"
               class="form-control"
               name="newPassword" [(ngModel)]="newPassword">
        <!--<em style="color: red"-->
            <!--*ngIf="resetPasswordForm.submitted && resetPasswordForm?.controls?.newPassword?.invalid && resetPasswordForm?.controls?.newPassword?.dirty">Please-->
            <!--check Password to contain Capital character,small character, 1 number, 1 symbol and length at least 8-->
            <!--characters</em>-->
    </div>

    <app-form-required-error
            *ngIf="(resetPasswordForm.submitted && resetPasswordForm.invalid && !resetPasswordForm?.dirty)"></app-form-required-error>

    <app-form-required-error
            *ngIf="failed" [body]="'Error Due to Network, Please try again!'"></app-form-required-error>

    <div class="text-right margin-top-35">
        <button class="btn btn-default" type="button" (click)="closeDialog()">Close</button>
        <button class="btn btn-light" type="submit">Save</button>
    </div>
</form>