<div class="header">
    <h5>Forget Password</h5>
</div>

<div *ngIf="toggleLoading" class="loading-icon">
    <div></div>
</div>

<div *ngIf="!toggleLoading" class="body">
    <form #forgetPassword="ngForm" (ngSubmit)="forgetPassword.valid && saveNewPassword()">
        <div class="row password-input">
            <div class="col-md-12 form-group">
                <input class="form-control" required type="password" name="password" [(ngModel)]="newPassword">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" type="button" (click)="closeModal()">Close</button>
                <button class="btn btn-light" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>