<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="form-group">
            <label>Stock type</label>
            <select name="type" required [(ngModel)]="selectedType" class="form-control">
                <option *ngFor="let type of categoryTypes" [value]="type.nameEN">{{type.nameEN}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Category State</label>
            <select name="state" required [(ngModel)]="selectedState" class="form-control">
                <option [value]="'active'">Active</option>
                <option [value]="'deactive'">De-active</option>
            </select>
        </div>


        <div class="form-group" *ngIf="categoryList?.length > 0">
            <label>Select category</label>
            <select name="state" class="form-control" (change)="onChangeCategory($event.target.value)">
                <option [value]="undefined" *ngIf="!selectedCategoryId">Select Type</option>
                <option *ngFor="let option of categoryList" [value]="option.id">{{option.nameEN}}</option>
            </select>
        </div>
    </div>
</div>