<div class="form-group">
    <div class="col-md-offset-3 col-md-5">
        <input style="display: inline" placeholder="Search by User Name, Phone Or Role"
               (keyup)="filterAccounts(searchText)"
               class="form-control" name="searchText" [(ngModel)]="searchText">
    </div>
    <div class="col-md-1">
        <i style="cursor: pointer" class="fa fa-times" (click)="resetFilter()" *ngIf="searchText.length >= 4"></i>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 add-new-order-container">
        <button class="btn btn-primary pull-right" (click)="addNewUserModal()"><i class="fa fa-plus-circle"></i> New
            Account
        </button>
    </div>
</div>

<div *ngIf="toggleLoading" class="loading-icon">
    <div></div>
</div>

<div *ngIf="!toggleLoading" class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
           width="100%"
           style="width:100%">
        <thead>
        <tr *ngIf="filteredAccounts.length">
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roles</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let account of filteredAccounts; let i = index">
            <td>{{account?.userName}}</td>
            <td>{{account?.firstName}}</td>
            <td>{{account?.lastName}}</td>
            <td><span *ngFor="let role of account.roleNames">{{role}}</span></td>
            <td>{{account?.phone1}}<span *ngIf="account?.phone2">,{{account?.phone2}}</span></td>
            <td>{{account?.email}}</td>
            <td class="td-actions text-right">
                <button title="Reset password" class="btn btn-info" (click)="openResetPassword(account)"><i
                        class="fa fa-unlock"
                        aria-hidden="true"></i>
                </button>
                <button title="Edit" class="btn btn-success" (click)="editAccount(account)"><i class="fa fa-edit"
                                                                                               aria-hidden="true"></i>
                </button>
                <button title="Remove" class="btn btn-danger" (click)="removeAccount(account.id)"><i class="fa fa-close"
                                                                                                     aria-hidden="true"></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
