<form #faq="ngForm" (ngSubmit)="faq.valid && saveData()">

  <!--/* fields for FAQ fees */-->
  <div class="form-group">
    <label>Question</label>
    <input class="form-control" required type="text"
           [(ngModel)]="data.question" name="question">
  </div>

  <div class="form-group">
    <label>Answer</label>
    <input class="form-control" required type="text" [(ngModel)]="data.answer"
        name="answer">
  </div>

  <div class="text-right margin-top-35">
    <button class="btn btn-default" type="button" (click)="closeModal()">Close</button>
    <button class="btn btn-light" type="submit">Save</button>
  </div>
</form>
