<div class="container-fluid">
    <div class="row">
        <h4>
            <span *ngIf="typeApp">{{accountDetails?.firstName}} {{accountDetails?.lastName}}</span>
            <span *ngIf="typeSales">{{accountDetails?.name}}</span>
            <!--<br>-->
            <!--<small>City - phone</small>-->
        </h4>
        <div class="card">

            <div class="card-header card-header-tabs" data-background-color="red">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                                [routerLink]="['..', accountId, {type:type}]">
                                <a data-toggle="tab">
                                    <i class="material-icons">perm_contact_calendar
                                    </i> Customer Info
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li routerLinkActive="active" [routerLink]="['orders', {'accountId' : accountId, type: type}]">
                                <a data-toggle="tab">
                                    <i class="material-icons">clear_all
                                    </i> Orders
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li *ngIf="typeApp" routerLinkActive="active"
                                [routerLink]="['complains', {'accountId' : accountId}]">
                                <a data-toggle="tab">
                                    <i class="material-icons">report_problem
                                    </i> Complains
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <!--<h3>tab 1</h3>-->
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
