<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">add_shopping_cart</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Add Order</h4>
                    <form>
                        <div class="form-group label-floating">
                            <label class="control-label">Name</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Account Type</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group label-floating">
                                <label class="control-label">Email address</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control">
                            </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="terms"> Subscribe to newsletter
                            </label>
                        </div>
                        <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>