<form #filterForm="ngForm" (ngSubmit)="filterForm.valid && getFilterOrders()">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Order Code</label>
        <input name="code" [(ngModel)]="filterObjView.code" type="text"
               class="form-control">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Order Status</label>
        <select class="form-control" name="fK_Order_Status_Id"
                [(ngModel)]="filterObjView.fK_Order_Status_Id">
          <option [value]="undefined"> -- Select Order Status --</option>
          <option [value]="status?.id" *ngFor="let status of allOrderStatus">
            {{status?.nameEN}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Delivery Type</label>
        <select class="form-control" name="fK_DeliveryType_Id"
                [(ngModel)]="filterObjView.fK_DeliveryType_Id">
          <option [value]="undefined"> -- Select Delivery Type --</option>
          <option [value]="type?.id" *ngFor="let type of deliveryTypes">
            {{type?.name}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Payment Method</label>
        <select class="form-control" name="paymentTypeCode"
                [(ngModel)]="filterObjView.paymentTypeCode">
          <option [value]="undefined"> -- Select Payment Type --</option>
          <option [value]="type?.code" *ngFor="let type of paymentTypes">
            {{type?.nameEN}}
          </option>
        </select>
      </div>
    </div>


    <!--************************************************-->
    <!--************************************************-->
    <!--************************************************-->


    <div class="col-md-3">
      <div class="form-group">
        <div>
          <button type="button" class="btn btn-info"
                  (click)="createdDateFromPicker.open()">
            <i class="fa fa-calendar"></i> Created Date From
          </button>
          <mat-datepicker #createdDateFromPicker disabled="false"></mat-datepicker>
          <input class="form-control" name="craetedDateFrom"
                 [required]="filterObjView?.createdDateTo"
                 [(ngModel)]="filterObjView.createdDateFrom" matInput
                 [matDatepicker]="createdDateFromPicker"
                 disabled>
        </div>
        <p *ngIf="!filterObjView.createdDateFrom && filterObjView.createdDateTo">
          Created
          Date To is required
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <div>
          <button type="button" class="btn btn-info" (click)="createdDateToPicker.open()">
            <i class="fa fa-calendar"></i> Created Date To
          </button>
          <mat-datepicker #createdDateToPicker disabled="false"></mat-datepicker>
          <input class="form-control" [required]="true"
                 name="createdDateTo"
                 [(ngModel)]="filterObjView.createdDateTo" matInput
                 [matDatepicker]="createdDateToPicker"
                 disabled>
        </div>
        <p *ngIf="!filterObjView.createdDateTo && filterObjView.createdDateFrom">
          Created
          Date From is required
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <div>
          <button type="button" class="btn btn-info"
                  (click)="deliveryDateFromPicker.open()">
            <i class="fa fa-calendar"></i> Delivery Date From
          </button>
          <mat-datepicker #deliveryDateFromPicker disabled="false"></mat-datepicker>
          <input [required]="filterObjView?.deliveryDateTo" class="form-control"
                 name="deliveryDateFrom"
                 [(ngModel)]="filterObjView.deliveryDateFrom" matInput
                 [matDatepicker]="deliveryDateFromPicker"
                 disabled required>
        </div>
        <p *ngIf="!filterObjView.deliveryDateFrom && filterObjView.deliveryDateTo">
          Created
          Date From is required
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <div>
          <button type="button" class="btn btn-info"
                  (click)="deliveryDateToPicker.open()">
            <i class="fa fa-calendar"></i> Delivery Date To
          </button>
          <mat-datepicker #deliveryDateToPicker disabled="false"></mat-datepicker>
          <input class="form-control" [required]="filterObjView.deliveryDateFrom"
                 name="deliveryDateTo"
                 [(ngModel)]="filterObjView.deliveryDateTo" matInput
                 [matDatepicker]="deliveryDateToPicker"
                 disabled required>
        </div>
        <p *ngIf="!filterObjView.deliveryDateTo && filterObjView.deliveryDateFrom">
          Created
          Date From is required
        </p>
      </div>
    </div>


    <!--************************************************-->
    <!--************************************************-->
    <!--************************************************-->

  </div>

  <div class="col-md-2">
    <div class="form-group">
      <label class="control-label">Order Type</label>
      <select class="form-control" name="orderType"
              [(ngModel)]="filterObjView.fK_Order_Type_Id">
        <option [value]="undefined"> -- Select Order Type --</option>
        <option [value]="type?.id" *ngFor="let type of allOrderTypes">
          {{type?.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="row margin-top-35 margin-bottom-50">
    <div class="col-md-12 text-center">

      <button class="btn btn-default" type="button" (click)="resetFilterViewValues()">
        Reset
      </button>
      
      <button class="btn btn-success" *ngIf="!hideExport" type="button" (click)="exportData()">Export</button>
      <button class="btn btn-light" type="submit">Filter</button>
    </div>
  </div>

</form>
