<form #promoForm="ngForm" (ngSubmit)="promoForm.valid && savePromo()">

    <div class="form-group">
        <label>Count Use</label>
        <input type="number" [(ngModel)]="data.countUse" name="countUse" class="form-control">
    </div>

    <div class="form-group">
        <label>Value</label>
        <input type="number" [(ngModel)]="data.value" name="value" class="form-control">
    </div>

    <div class="form-group">
        <label>Minimum Order Price</label>
        <input type="number" [(ngModel)]="data.minimumOrderPrice" name="minimumOrderPrice" class="form-control">
    </div>

    <div class="form-group">
        <label>Code</label>
        <input type="text" [(ngModel)]="data.code" name="code" class="form-control">
    </div>

    <div class="form-group">
        <label>Is Active</label>
        <input type="checkbox" [(ngModel)]="data.isActive" name="code">
    </div>


    <div class="form-group">
        <div>
            <button type="button" class="btn btn-info"
                    (click)="startDatePicker.open()"><i
                    class="fa fa-calendar"></i> Date From
            </button>
            <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
            <input class="form-control" name="dateFrom"
                   [(ngModel)]="data.startDate" matInput
                   [matDatepicker]="startDatePicker"
                   disabled>
        </div>
    </div>


    <div class="form-group">
        <div>
            <button type="button" class="btn btn-info"
                    (click)="expiryDatePicker.open()"><i
                    class="fa fa-calendar"></i> Date To
            </button>
            <mat-datepicker #expiryDatePicker disabled="false"></mat-datepicker>
            <input class="form-control" name="dateToPicker"
                   [(ngModel)]="data.expiryDate" matInput
                   [matDatepicker]="expiryDatePicker"
                   disabled>
        </div>
    </div>


    <div class="text-right margin-top-35">
        <button class="btn btn-default" type="button" (click)="closeModal()">Close</button>
        <button class="btn btn-light" type="submit">Save</button>
    </div>

</form>