<div class="row" *ngIf="type!='Settings'">
    <div class="col-md-12 col-xs-12 add-new-order-container">
        <button class="btn btn-primary pull-right" (click)="addItem()"><i class="fa fa-plus-circle"></i> New
        </button>
    </div>
</div>

<div class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
           width="100%"
           style="width:100%">
        <thead>
        <tr *ngIf="items.length">
            <th>Number</th>
            <th>Name</th>
            <th>Value</th>
            <th class="disabled-sorting">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of items; let i = index">
            <td>{{i + 1}}</td>
            <td *ngIf="type=='Delivery Fees'">{{item?.nameEN}}</td>
            <td *ngIf="type=='Settings'">{{item?.key}}</td>
            <td *ngIf="type=='Delivery Fees'">{{item?.deliveryFees}}</td>
            <td *ngIf="type=='Settings'">{{item?.value}}</td>
            <td class="td-actions">
                <button (click)="editItem(item)" type="button" title="Edit" rel="tooltip"
                        class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                </button>
                <button *ngIf="type!='Settings'" (click)="deletePlace(item.id)" type="button" title="Delete"
                        rel="tooltip"
                        class="btn btn-danger">
                    <i class="fa fa-close"></i>
                </button>


            </td>
        </tr>

        </tbody>
    </table>
</div>

