<div class="container">

  <form [formGroup]="form" (ngSubmit)="form.valid && send()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Enter Title" formControlName="title" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12">
        <mat-form-field>
          <textarea matInput placeholder="Enter Body" formControlName="body"></textarea>
        </mat-form-field>
      </div>

      <div class="col-sm-12">
        <label class="radio-inline" *ngFor="let selectOption of selectOptions">
          <input type="radio" formControlName="option" [(ngModel)]="radioSelected" name="option"
            value="{{selectOption.value}}" (change)="onOptionChange(selectOption)">
          {{selectOption.title}}
        </label>
      </div>
    </div>

  <br>
  <hr>

  <announcement-category (selectedCategoryId)="onChangeCategoryId($event)" *ngIf="favoriteType === 'category'">
  </announcement-category>

  <announcement-subcategory (selectedSubcategoryId)="onChangeSubcategoryId($event)"
    *ngIf="favoriteType === 'subcategory'"></announcement-subcategory>

  <announcement-items (itemId)="onChangeItem($event)" *ngIf="favoriteType === 'items'"></announcement-items>


  <div class="row">
    <button type="submit" mat-stroked-button color="primary" class="pull-right send-btn">Send</button>
  </div>

</form>

</div>