mat-form-field{
    width: 100%
}

.container{
    background-color: white;
    padding: 5em;
}

.send-btn{
    background-color: #ae2322;
    border: none;
    color: white;
    font-size: large;
    padding-top: 2px;
    padding-bottom: 2px;
}

input[type="radio"] + label {
    font-size:18px !important;
}

.mat-radio-label-content span{
    padding-left: 10px !important;
}
