<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">

        <form #showCategoryForm="ngForm" (ngSubmit)="showCategoryForm.valid && showCategories(showCategoryForm.value)">
            <div class="form-group">
                <label>Stock type</label>
                <select name="type" required [(ngModel)]="selectedType"
                        class="form-control">
                    <option *ngFor="let type of categoryTypes" [value]="type.nameEN">{{type.nameEN}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Category State</label>
                <select name="state" required [(ngModel)]="selectedState"
                        class="form-control">
                    <option [value]="'active'">Active</option>
                    <option [value]="'deactive'">De-active</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 text-center">
                    <button class="btn btn-light" type="submit">Show</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 col-xs-12">
            <app-category-table [categoryList]="categoryList"
                                (updated)="showCategories(showCategoryForm.value)"></app-category-table>
        </div>
    </div>
</div>