<div class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover">
        <thead *ngIf="messages?.length">
        <tr>
            <th>Date</th>
            <th>Comment</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let message of messages">
            <td>{{message?.createdDate | date:'fullDate'}}</td>
            <td>{{message?.comment}}</td>
            <td>{{message?.reviewerName}}</td>
            <td>{{message?.reviewerMail}}</td>
            <td>{{message?.reviewerPhone}}</td>
        </tr>

        </tbody>
    </table>
</div>


<mat-paginator [length]="count"
               [pageSize]="pageSize"
               (page)="pageEvent($event)"
               [hidePageSize]="true">
</mat-paginator>

