<div class="row">
    <div class="col-md-12 col-xs-12">
        <button class="btn btn-primary pull-right" (click)="addRow()"><i class="fa fa-plus-circle"></i> New
        </button>
    </div>
</div>

<div class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
           width="100%"
           style="width:100%">
        <thead>
        <tr *ngIf="data.length">
            <th>English Name</th>
            <th>Arabic Name</th>
            <th>Value</th>
            <th *ngIf="type == 'cutting'">Price</th>
            <th class="disabled-sorting text-right">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let row of data; let i = index">
            <!--<td><img [src]="customer?.picturePath"></td>-->
            <td>{{row?.nameEN}}</td>
            <td>{{row?.nameAR}}</td>
            <td>{{row?.value}}</td>
            <td *ngIf="type == 'cutting'">{{row?.price}}</td>
            <td class="td-actions actions-buttons text-right">
                <button type="button" (click)="editRow(row)" rel="tooltip" class="btn btn-info">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" (click)="deleteRow(row.id)" rel="tooltip" class="btn btn-danger">
                    <i class="fa fa-close"></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
