<!--<app-filter (filterTerms)="getInvoices($event)"></app-filter>-->

<div *ngIf="togglePrintBackground" style="position: absolute; z-index: -100; width: 100%"
     id="invoice-container">
  <h4>Invoice Code : {{printOrder?.code}}</h4>
  <h6><span>Delivery Date:</span>{{printOrder?.deliveryDate | date:'fullDate'}}</h6>

  <div style="display: inline-block; width: 40%">
    <div>
      <h6>Customer Info:</h6>
    </div>
    <div>
      <h6 style="margin: 5px"><span>Name:</span>{{printOrder?.customerName}}</h6>
    </div>

    <div>
      <h6 style="margin: 5px"><span>Phone:</span>{{printOrder?.customerPhone}}</h6>
    </div>

    <div>
      <h6 style="margin: 5px"><span>Email:</span>{{printOrder?.customerEmail}}</h6>
    </div>
  </div>


  <div style="width: 50%; display: inline-block">

    <div>
      <h6 style="margin: 5px"><span>Delivery Type:</span>{{printOrder?.deliveryType}}</h6>
    </div>

    <div>
      <h6 style="margin: 5px"><span>Payment Method:</span>{{printOrder?.paymentMessage}}</h6>
    </div>

    <div>
      <h6 style="margin: 5px"><span>Status:</span>{{printOrder?.orderStatus?.nameEN}}</h6>
    </div>
  </div>

  <div>
    <h6>Address :</h6>
    <h6 style="margin: 5px"><span>Governorate: {{printOrder?.governorateName}}</span></h6>
    <h6 style="margin: 5px"><span>Area: {{printOrder?.areaName}}</span></h6>
    <h6 style="margin: 5px"><span>Street: {{printOrder?.streetName}}</span></h6>
    <h6 style="margin: 5px"><span>Block Name: {{printOrder?.blockName}}</span></h6>
    <h6 style="margin: 5px"><span>Building: {{printOrder?.building}}</span></h6>
    <h6 style="margin: 5px"><span>Floor: {{printOrder?.floor}}</span></h6>
    <h6 style="margin: 5px"><span>Appartment #: {{printOrder?.appartmentNumber}}</span></h6>
  </div>

  <div style="width: 100%; text-align: center">
    <p style="width: 13%; margin-right: 3%; display: inline-block;">Item Name</p>

    <p style="width: 10%; display: inline-block;">Quantity</p>

    <p style="width: 10%; display: inline-block;">Quantity KGs</p>

    <p style="width: 13%; display: inline-block;">Cutting</p>

    <p style="width: 10%; display: inline-block;">Option</p>

    <p style="width: 10%; display: inline-block;">Unit</p>

    <p style="width: 13%; display: inline-block;">Price</p>

    <p style="width: 13%; display: inline-block;">Total</p>
  </div>

  <hr />

  <div *ngFor="let item of printOrder?.items" style="width: 100%;text-align: center;">
    <p style="width: 13%; display: inline-block;">
      {{item?.item?.nameEN}}
    </p>

    <p style="width: 10%; display: inline-block; text-align: center;">
      {{item?.quantity?.nameEN || item?.quantityValue }}
    </p>

    <p style="width: 10%; display: inline-block; text-align: center;">
      {{item?.itemQuantityByKG }}
    </p>

    <p style="width: 13%; display: inline-block; text-align: center;">
      {{item?.cutting?.nameEN}}
    </p>

    <p style="width: 10%; display: inline-block; text-align: center;">
      {{item?.categorySubOption?.nameEN}}
    </p>


    <p style="width: 10%; display: inline-block; text-align: center;">
      {{item?.measurmentUnit?.name}}
    </p>

    <p style="width: 13%; display: inline-block;">{{item?.item?.price || item?.itemNetPrice}}</p>

    <p style="width: 13%; display: inline-block;">{{item?.price}}</p>
  </div>

  <hr />

  <div style="text-align: center">
    Price: {{printOrder?.cartPrice}}
  </div>
  <div style="text-align: center">
    VAT: {{printOrder?.vatValue}}
  </div>
  <div style="text-align: center" *ngIf="!printOrder?.items[0].measurmentUnit">
    Delivery Fees: {{printOrder?.deliveryFees}}
  </div>

  <div style="text-align: center">
    Promo Code : {{(printOrder?.promoCode)?printOrder?.promoCode:'-'}}
  </div>
  <div style="text-align: center">
    Promo Value: {{(printOrder?.promoValue)?printOrder?.promoValue:'-'}}
  </div>
  <div style="text-align: center">
    Total: {{printOrder?.price}}
  </div>

</div>





<div *ngIf="isPrintAll" style="position: absolute; z-index: -100; width: 100%"
     id="invoice-PrintAll">
  <h4>Total Orders : {{allOrdersForPrint?.totalOrders}}</h4>
  <h4>Total Payment : {{allOrdersForPrint?.totalPayment}}</h4>
  <h4>Total Orders Per Categories : {{(allOrdersForPrint?.totalOrdersPerCategories)?allOrdersForPrint?.totalOrdersPerCategories:'-'}}</h4>

  <div *ngFor="let item of allOrdersForPrint?.orders">
    <table id="tablePreview" border='1' style='border-collapse:collapse; width: 80%;'>
      <!--Table head-->
      <thead>
        <tr>
          <th>Order</th>
          <th>Country</th>
          <th>Source</th>
          <th>Customer Name</th>
          <th>Customer info</th>
          <th>Total</th>
          <th>Delivery</th>
          <th>Payment</th>
          <th>Status</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>

          <td>{{item.code}}</td>
          <td>{{countyName}}</td>
          <td>{{item.platform}}</td>
          <td>{{item.customerName}}</td>
          <td>
            <b>Customer Phone:</b>{{item.customerPhone}}&nbsp;<b>Customer Email:</b>{{item.customerEmail}}&nbsp;
            <b>Area Name:</b>{{item.governorateName}}&nbsp;
            <b>city:</b>{{item.governorateName}}&nbsp;
            <b>Block:</b>{{item.blockName}}&nbsp;
            <b>Street:</b>{{item.streetName}}&nbsp;
            <b>Building:</b>{{item.building}}&nbsp;
            <b>Floor:</b>{{item.floor}}&nbsp;
            <b>Area Name:</b>{{item.areaName}}&nbsp;
            <b>Apartment Number:</b>{{item.appartmentNumber}}&nbsp;
          </td>
          <td>{{item.price}}</td>
          <td>{{item.deliveryType}}</td>
          <td>{{item.paymentTypeCode}}</td>
          <td>{{item.status}}</td>
        </tr>

      </tbody>
      <!--Table body-->
    </table>
    <br />
    <table id="tablePreview" border='1' style='border-collapse:collapse; width: 80%;'>
      <!--Table head-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Delivery Date</th>
          <th>Cutting</th>
        </tr>
      </thead>

      <tr *ngFor="let itemCard of item?.cartItems" style="width: 100%;text-align: center;">
        <td>{{itemCard.itemCode}}</td>
        <td>{{itemCard.quantityValue}}</td>
        <td>{{itemCard.itemNetPrice}}</td>
        <td>{{(itemCard.cartItemPrice)?itemCard.cartItemPrice:'-'}}</td>
        <td>{{item.deliveryDate | date:'mediumDate'}}</td>
        <td>{{(itemCard.cuttingNameEN)?itemCard.cuttingNameEN:'-'}}</td>
      </tr>

      <!--Table body-->
    </table>
  </div>
  <!--Table-->
</div>



<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="red">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Invoices</h4>
        <div class="toolbar">
          <app-filter  (filterTerms)="getInvoices($event)"></app-filter>
        </div>
        <button class="btn btn-info" type="button" *ngIf="showAll" (click)="printAll()">
          Print all Invoices
        </button>
        <div class="material-datatables margin-top-20" *ngIf="filteredInvoices.length">
          <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
                 width="100%" style="width:100%">
            <thead>
              <tr>
                <th>order Code</th>
                <th>Date</th>
                <th>Delivery Type</th>
                <!--<th>Payment Type</th>-->
                <!--<th>Platform</th>-->
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let order of filteredInvoices">
                <td>{{order?.code}}</td>
                <td>{{order?.deliveryType}}</td>
                <td>{{order?.deliveryDate | date:'fullDate'}}</td>
                <!--<td>{{order?.paymentMessage}}</td>-->
                <!--<td>{{order?.platform}}</td>-->
                <td>{{order?.price}}</td>
                <td>
                  <button class="btn btn-light" (click)="printInvoice(order)">
                    <i class="fa fa-print"></i>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <p style="color: red" *ngIf="!filteredInvoices.length" class="text-center">
          <i class="fa fa-exclamation-triangle"></i> No Result
        </p>

      </div>
      <!-- end content-->
    </div>
    <!--  end card  -->
    <mat-paginator [length]="count"
                   [pageSize]="pageSize"
                   (page)="pageEvent($event)">
    </mat-paginator>
  </div>
  <!-- end col-md-12 -->
</div>
