<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Administrations
      </h4>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-md-4">
          <ul class="nav nav-pills nav-pills-rose nav-stacked">
            <li (click)="getItemData(item.name)" *ngFor="let item of administrationsList; let i = index"
                [class]="i == 0 ? 'active' : ''">
              <a [href]="'#' + i" data-toggle="tab">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="tab-content">
            <div class="active tab-pane" id="0">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-places-table *ngIf="!toggleLoading" [items]="data" [type]="'Charity Places'"
                                      (updated)="getItemData($event)"></app-admin-places-table>
            </div>
            <div class="tab-pane" id="1">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-places-table [type]="'Pickup Places'" *ngIf="!toggleLoading" [items]="data"
                                      (updated)="getItemData($event)"></app-admin-places-table>
            </div>
            <div class="tab-pane" id="2">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-dates-table [type]="'Eid Dates'" *ngIf="!toggleLoading" [items]="data"
                                     (updated)="getItemData($event)"></app-admin-dates-table>
            </div>
            <div class="tab-pane" id="3">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-dates-table *ngIf="!toggleLoading" [items]="data" [type]="'Pickup Dates'"
                                     (updated)="getItemData($event)"></app-admin-dates-table>
            </div>
            <div class="tab-pane" id="4">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-dates-table *ngIf="!toggleLoading" [items]="data" [type]="'Donation Dates'"
                                     (updated)="getItemData($event)"></app-admin-dates-table>
            </div>
            <div class="tab-pane" id="5">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-promo-code-table *ngIf="!toggleLoading" [items]="data" [type]="'Promo Code'"
                                          (updated)="getItemData($event)"></app-admin-promo-code-table>
            </div>
            <div class="tab-pane" id="6">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-item-table (updated)="getItemData($event)" *ngIf="!toggleLoading" [items]="data"
                                    [type]="'Delivery Fees'"></app-admin-item-table>
            </div>
            <div class="tab-pane" id="7">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <div *ngIf="!toggleLoading">

                <div class="text-right margin-bottom-50">
                  <!--<button (click)="addNewAd()" class="btn btn-light"><i class="fa fa-plus-circle"></i> New</button>-->

                  <span style="width: 50%" class="btn btn-rose btn-round btn-file">
                    <span class="fileinput-new">Select New Ad Photo</span>
                    <input required accept="image/x-png,image/gif,image/jpeg" (change)="addNewAd($event)" type="file"
                           name="file" />
                  </span>


                </div>
                <div *ngFor="let item of data" class="row margin-bottom-50">
                  <div class="col-md-10">
                    <img style="max-width:250px" [src]="item?.url">
                  </div>
                  <div class="col-md-1 text-center">
                    <button title="archive" (click)="archieveItem(item)" class="btn btn-danger">
                      <i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="8">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <!--<div *ngIf="!toggleLoading">-->

              <app-admin-item-table (updated)="getItemData($event)" *ngIf="!toggleLoading" [items]="data"
                                    [type]="'Settings'"></app-admin-item-table>
            </div>

            <div class="tab-pane" id="9">
              <table datatable class="table table-striped table-no-bordered table-hover"
                     cellspacing="0"
                     width="100%"
                     style="width:100%">
                <thead>
                  <tr *ngIf="data.length">
                    <th>Name English</th>
                    <th>Name Arabic</th>
                    <th>Used In</th>
                    <th class="disabled-sorting">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of data">
                    <td>{{item?.nameEN}}</td>
                    <td>{{item?.nameAR}}</td>
                    <td>{{item?.availableForName}}</td>
                    <td class="td-actions">
                      <button (click)="togglePaymentActivations(item)" type="button"
                              [title]="item.isActivated ? 'Deactivate' : 'Activate'"
                              [ngStyle]="item.isActivated ? {'background-color': 'red'} : {'background-color' : 'green'}"
                              rel="tooltip"
                              class="btn btn-warning">
                        <i class="fa fa-power-off"></i>
                      </button>

                    </td>
                  </tr>

                </tbody>
              </table>

            </div>

            <!--<div class="tab-pane" id="10">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-item-table (updated)="getItemData($event)" *ngIf="!toggleLoading" [items]="data"
                                    [type]="'Minimum Order'"
              ></app-admin-item-table>
            </div>-->


            <div class="tab-pane" id="10">
              <div *ngIf="toggleLoading" class="loading-icon">
                <div></div>
              </div>
              <app-admin-faq-data (updated)="getItemData($event)" *ngIf="!toggleLoading" [items]="data"
                                  [type]="'FAQ'"></app-admin-faq-data>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
