<form #smsForm="ngForm" (ngSubmit)="smsForm.valid && sendSMS()">
    <div class="form-group">
        <label>SMS</label>
        <textarea required class="form-control" [(ngModel)]="smsMessage" name="smsMessage" rows="5"
                  placeholder="Message"></textarea>
    </div>
    <div class="text-right">
        <button type="button" (click)="closeModal()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-light">Send</button>
    </div>
</form>