<div *ngIf="toggleLoading" class="loading-icon">
    <div></div>
</div>

<form *ngIf="!toggleLoading" #addEditAccountForm="ngForm" (ngSubmit)="addEditAccountForm.valid && saveUser()">

    <div class="form-group">
        <label>User Name</label>
        <input class="form-control" name="userName" required [(ngModel)]="data.userName">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input [pattern]="emailRegex" type="email" class="form-control" name="email" required [(ngModel)]="data.email">
        <em style="color: red"
            *ngIf="addEditAccountForm.submitted && addEditAccountForm?.controls?.email?.invalid && addEditAccountForm?.controls?.email?.dirty">Please
            Check email
            pattern to be <strong>example@host.com</strong></em>
    </div>

    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" name="firstName" required [(ngModel)]="data.firstName">
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" name="lastName" required [(ngModel)]="data.lastName">
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input class="form-control" [pattern]="phoneRegex" type="phone" name="phone" required [(ngModel)]="data.phone1">
        <em style="color: red"
            *ngIf="addEditAccountForm.submitted && addEditAccountForm?.controls?.phone?.invalid && addEditAccountForm?.controls?.phone?.dirty">Phone
            Should be Numbers Only</em>
    </div>

    <div class="form-group">
        <label style="display: block">Roles</label>
        <p-multiSelect name="roles" [required]="true" [options]="roles" [(ngModel)]="selectedRoles"
                       optionLabel="name"></p-multiSelect>
    </div>

    <div class="form-group" *ngIf="!data.id">
        <label>Password</label>
        <input style="display: none" name="password"
               type="password"
               class="form-control">
        <input [pattern]="passwordRegex" placeholder="Password" id="password" name="password"
               [(ngModel)]="data.password" [required]="!data.id"
               type="password"
               class="form-control">
        <em style="color: red"
            *ngIf="addEditAccountForm.submitted && addEditAccountForm?.controls?.password?.invalid && addEditAccountForm?.controls?.password?.dirty">Please
            check Password to contain Capital character,small character, 1 number, 1 symbol and length at least 8
            characters</em>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-6 margin-top-35">
            <span style="width: 100%" class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new">Select image</span>
                    <input required (change)="selectImage($event)" type="file" name="file"/>
                                        </span>
            <p *ngIf="selectedFileName">{{selectedFileName}} <i (click)="removeSelectedImage()"
                                                                class="fa fa-times"></i></p>
        </div>
    </div>

    <app-form-required-error
            *ngIf="(addEditAccountForm.submitted && addEditAccountForm.invalid)"></app-form-required-error>

    <app-form-required-error
            *ngIf="failed" [body]="'Error Due to Network, Please try again!'"></app-form-required-error>

    <div class="text-right margin-top-35">
        <button class="btn btn-default" type="button" (click)="closeDialog()">Close</button>
        <button class="btn btn-light" type="submit">Save</button>
    </div>

</form>