<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <form #showItemForm="ngForm" (ngSubmit)="showItemForm.valid && showItems()">
            <div class="form-group">
                <label>Stock type</label>
                <select name="type" required (change)="getCategories()" [(ngModel)]="selectedType"
                        class="form-control">
                    <option [value]="undefined" *ngIf="!selectedType">-- Select Type --</option>
                    <option *ngFor="let type of categoryTypes" [value]="type.nameEN">{{type.nameEN}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Category State</label>
                <select name="state" required (change)="getCategories()" [(ngModel)]="selectedState"
                        class="form-control">
                    <option [value]="undefined" *ngIf="!selectedState">-- Select Type --</option>
                    <option [value]="'active'">Active Category</option>
                    <option [value]="'deactive'">De-active Category</option>
                </select>
            </div>

            <div class="form-group" *ngIf="selectedState && selectedType">
                <label>Category</label>
                <select name="category" required [(ngModel)]="selectedCategory"
                        class="form-control">
                    <option [value]="undefined" *ngIf="!selectedCategory">-- Select Category --</option>
                    <option *ngFor="let category of categoryList" [value]="category.id">{{category.nameEN}}</option>
                </select>
            </div>

            <div class="form-group" *ngIf="selectedCategory">
                <label>Item State</label>
                <select name="itemState" required [(ngModel)]="selectedItemState"
                        class="form-control">
                    <option [value]="undefined" *ngIf="!selectedItemState">-- Select Type --</option>
                    <option [value]="'active'">Active Items</option>
                    <option [value]="'deactive'">De-active Items</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 text-center">
                    <button class="btn btn-light" type="submit" [disabled]="!selectedItemState">Show</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <app-items-table [toggleNotFoundText]="toggleNotFoundText" [itemList]="itemsList" (updated)="showItems()"></app-items-table>
        </div>
    </div>
</div>