<form *ngIf="!toggleLoading" #addEditCategoryForm="ngForm"
      (ngSubmit)="(addEditCategoryForm.valid && isCategoryImageIncluded)&& saveCategory()">

  <div class="form-group">
    <label>English Name</label>
    <input required class="form-control" type="text" placeholder="Name" [(ngModel)]="data.nameEN"
           name="nameEN">
  </div>

  <div class="form-group">
    <label>Arabic Name</label>
    <input required class="form-control" type="text" placeholder="Name" [(ngModel)]="data.nameAR"
           name="nameAR">
  </div>

  <div class="form-group">
    <label>English Description</label>
    <input required class="form-control" type="text" placeholder="Description"
           [(ngModel)]="data.descriptionEN"
           name="descriptionEN">
  </div>

  <div class="form-group">
    <label>Arabic Description</label>
    <input required class="form-control" type="text" placeholder="Description"
           [(ngModel)]="data.descriptionAR"
           name="descriptionAR">
  </div>

  <div class="form-group">
    <label>Code</label>
    <input required class="form-control" type="text" placeholder="Code" [(ngModel)]="data.code" name="code">
  </div>

  <div class="form-group">
    <label>Category Behavior</label>
    <select class="form-control" #selectedValue (change)="getAllParent(selectedValue.value)" [(ngModel)]="data.fK_CategoryType_Id" name="fK_CategoryType_Id">
      <option [value]="undefined"> -- Select Behavior --</option>
      <option *ngFor="let type of categoryTypes" [value]="type.id">{{type.nameEN}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Category Type</label>
    <select class="form-control" [(ngModel)]="data.fK_CategoryConfig_Id" name="fK_CategoryConfig_Id">
      <option [value]="undefined"> -- Select Type --</option>
      <option *ngFor="let parent of categoryConfigs" [value]="parent.id">{{parent.nameEN}}</option>
    </select>
  </div>

  <mat-radio-group>
    <mat-radio-button [checked]="data.isParent==true" (change)="isParentShow('parent')" name="optradio" value="true">Parent Category</mat-radio-button>&nbsp;
    <mat-radio-button [checked]="data.isParent==false" (change)="isParentShow('sub')" name="optradio" value="false">Subcategory</mat-radio-button>
  </mat-radio-group>

  <div class="form-group" *ngIf="showParents && isAllowed">
    <select class="form-control" [(ngModel)]="data.fk_Parent_Id" name="fk_Parent_Id">
      <option [value]="undefined"> -- Select Parent --</option>
      <option *ngFor="let parent of allAppParent" [value]="parent.id">{{parent.nameEN}}</option>
    </select>
  </div>




  <div class="form-group">
    <label>Sort Type</label>
    <select required class="form-control" [(ngModel)]="data.itemsSortType" name="itemsSortType">
      <option [value]="undefined"> -- Select Sort Type --</option>
      <option *ngFor="let order of OrderTypes" [value]="order.id">{{order.name}}</option>
    </select>
  </div>


  <div class="form-group">
    <div>
      <button type="button" class="btn btn-info"
              (click)="createdDateFromPicker.open()">
        <i class="fa fa-calendar"></i> Date From
      </button>
      <mat-datepicker #createdDateFromPicker disabled="false"></mat-datepicker>
      <input class="form-control" name="craetedDateFrom"
             [(ngModel)]="data.dateFrom" matInput
             [matDatepicker]="createdDateFromPicker"
             disabled>
    </div>
  </div>

  <div class="form-group">
    <div>
      <button type="button" class="btn btn-info"
              (click)="createdDateToPicker.open()">
        <i class="fa fa-calendar"></i> Date To
      </button>
      <mat-datepicker #createdDateToPicker disabled="false"></mat-datepicker>
      <input class="form-control" name="craetedDateFrom"
             [(ngModel)]="data.dateTo" matInput
             [matDatepicker]="createdDateToPicker"
             disabled>
    </div>
  </div>

  <div class="form-group">
    <span>Active</span>
    <input style="display: inline-block" type="checkbox" class="checkbox" [(ngModel)]="data.isActive"
           name="isActive">
  </div>

  <div class="form-group">
    <span>Allow Today Delivery</span>
    <input style="display: inline-block" type="checkbox" class="checkbox" [(ngModel)]="data.allowTodayDelivery"
           name="AllowTodayDelivery">
  </div>

  <div class="form-group" *ngIf="isSponsored">
    <span>Is Sponsored</span>
    <input style="display: inline-block" type="checkbox" class="checkbox" [(ngModel)]="data.isSponsored"
           name="IsSponsored">
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-6 margin-top-35">
      <img *ngIf="isExistedCategory && data.pictureURL" class="category-image" [src]="data.pictureURL">
      <!--<div class="fileinput fileinput-new text-center" data-provides="fileinput">-->
      <span style="width: 100%" class="btn btn-rose btn-round btn-file">
        <span class="fileinput-new">Select image</span>
        <input required accept="image/x-png,image/gif,image/jpeg" (change)="selectImage($event)" type="file" name="file" />
      </span>
      <p *ngIf="selectedFileName">
        {{selectedFileName}} <i (click)="removeSelectedImage()"
                                class="fa fa-times"></i>
      </p>

      <!--</div>-->
    </div>
  </div>


  <app-form-required-error *ngIf="(addEditCategoryForm.submitted && addEditCategoryForm.invalid) || (addEditCategoryForm.submitted &&!isCategoryImageIncluded)"></app-form-required-error>

  <app-form-required-error *ngIf="failed" [body]="'Error Due to Network, Please try again!'"></app-form-required-error>

  <div class="text-right margin-top-35">
    <button class="btn btn-default" type="button" (click)="closeDialog()">Close</button>
    <button class="btn btn-light" type="submit">Save</button>
  </div>

</form>

<div class="loading-icon" *ngIf="toggleLoading">
  <div></div>
</div>
