<form #addEditStock="ngForm" (ngSubmit)="addEditStock && saveStock(addEditStock.value)">
    <div class="form-group">
        <label>English Name</label>
        <input name="nameEN" required [(ngModel)]="data.nameEN" class="form-control">
    </div>

    <div class="form-group">
        <label>Arabic Name</label>
        <input name="nameAR" required [(ngModel)]="data.nameAR" class="form-control">
    </div>

    <div class="form-group">
        <label>Description Arabic</label>
        <textarea class="form-control" [(ngModel)]="data.descriptionAR" name="descriptionAR"></textarea>
    </div>

    <div class="form-group">
        <label>Description Arabic</label>
        <textarea class="form-control" [(ngModel)]="data.descriptionEN" name="descriptionEN"></textarea>
    </div>

    <div class="form-group">
        <label>Value</label>
        <input type="number" name="value" required [(ngModel)]="data.value" class="form-control">
    </div>

    <div class="form-group" *ngIf="data.type == 'cutting'">
        <label>Price</label>
        <input type="number" name="price" [required]="data.type == 'cutting'" [(ngModel)]="data.price"
               class="form-control">
    </div>

    <app-form-required-error *ngIf="addEditStock.submitted && addEditStock.invalid"></app-form-required-error>

    <div class="text-right margin-top-35">
        <button class="btn btn-default" type="button" (click)="closeDialog()">Close</button>
        <button class="btn btn-light" type="submit">Save</button>
    </div>

</form>