<!--<button (click)="addComplain()" class="btn btn-light pull-right"><i class="fa fa-plus-circle"></i> New Complain</button>-->

<div class="card">
    <div class="card-content">

        <div class="material-datatables">
            <table datatable class="table table-striped table-no-bordered table-hover">
                <thead *ngIf="complains.length">
                <tr>
                    <th>Date</th>
                    <!--<th>Rating</th>-->
                    <th>Item Name</th>
                    <th>Type</th>
                    <th>Comment</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Name</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let complain of complains">
                    <td>{{complain?.createdDate | date:'fullDate'}}</td>
                    <!--<td>{{complain?.fK_LKP_Rating_Scale_Id}}</td>-->
                    <td>{{complain?.item?.nameEN}}</td>
                    <td>{{complain?.item?.nameEN}}</td>
                    <td>{{complain?.comment}}</td>
                    <td>{{complain?.reviewer?.phone1}}</td>
                    <td>{{complain?.reviewer?.email}}</td>
                    <td>{{complain?.reviewer?.firstName}} {{complain?.reviewer?.lastName}}</td>
                </tr>

                </tbody>
            </table>
        </div>

        <mat-paginator [length]="count"
                       [pageSize]="pageSize"
                       (page)="pageEvent($event)"
                       [hidePageSize]="true">
        </mat-paginator>


    </div>
</div>
