<form *ngIf="!toggleLoading" #addEditItemForm="ngForm"
      (ngSubmit)="(addEditItemForm.valid && isItemImageIncluded)&& saveItem()">

    <div class="form-group">
        <label>English Name</label>
        <input required class="form-control" type="text" placeholder="Name" [(ngModel)]="data.nameEN"
               name="nameEN">
    </div>

    <div class="form-group">
        <label>Arabic Name</label>
        <input required class="form-control" type="text" placeholder="Name" [(ngModel)]="data.nameAR"
               name="nameAR">
    </div>

    <div class="form-group">
        <label>English Description</label>
        <input required class="form-control" type="text" placeholder="Description"
               [(ngModel)]="data.descriptionEN"
               name="descriptionEN">
    </div>

    <div class="form-group">
        <label>Arabic Description</label>
        <input required class="form-control" type="text" placeholder="Description"
               [(ngModel)]="data.descriptionAR"
               name="descriptionAR">
    </div>

    <div class="form-group">
        <label>Age</label>
        <input class="form-control" type="text" placeholder="Age"
               [(ngModel)]="data.age"
               name="age">
    </div>


    <div class="form-group" *ngIf="!isExistedItem">
        <label>Category Type</label>
        <select [required]="!isExistedItem" class="form-control" [(ngModel)]="data.fK_CategoryType_Id"
                name="fK_CategoryType_Id">
            <option [value]="undefined"> -- Select Type --</option>
            <option *ngFor="let type of categoryTypes" [value]="type.id">{{type.nameEN}}</option>
        </select>
    </div>

    <div class="form-group" *ngIf="data.fK_CategoryType_Id">
        <label>Category State</label>
        <select required class="form-control" [(ngModel)]="selectedState" name="categoryState"
                (change)="getCategories()">
            <option [value]="undefined"> -- Select Type --</option>
            <option [value]="'active'">Active</option>
            <option [value]="'deactive'">De-active</option>
        </select>
    </div>

    <div class="form-group" *ngIf="selectedState">
        <label>Category</label>
        <select required class="form-control" [(ngModel)]="data.fK_Category_Id"
                name="categoryName">
            <option [value]="undefined"> -- Select Category --</option>
            <option *ngFor="let type of categoryList" [value]="type.id">{{type.nameEN}}</option>
        </select>
    </div>


    <div *ngIf="data.fK_CategoryType_Id == 2 || (isExistedItem && data.price == 0)">
        <!--<div class="form-group">-->
        <!--<label>Current Stock</label>-->
        <!--<input type="number" [required]="data.fK_CategoryType_Id == 2" class="form-control"-->
        <!--[(ngModel)]="data.currentStock" name="currentStock">-->
        <!--</div>-->

        <div class="form-group">
            <label>Current Head Stock</label>
            <input type="number" [required]="data.fK_CategoryType_Id == 2" class="form-control"
                   [(ngModel)]="data.currentHeadStock"
                   name="CurrentHeadStock">
        </div>

        <div class="form-group">
            <label>Current Kgs Stock</label>
            <input type="number" [required]="data.fK_CategoryType_Id == 2" class="form-control"
                   [(ngModel)]="data.currentKgsStock"
                   name="currentKgsStock">
        </div>

        <div class="form-group">
            <label>Current Pieces Stock</label>
            <input type="number" [required]="data.fK_CategoryType_Id == 2" class="form-control"
                   [(ngModel)]="data.currentPiecesStock"
                   name="CurrentPiecesStock">
        </div>
    </div>


    <div class="form-group">
        <div>
            <button type="button" class="btn btn-info"
                    (click)="createdDateFromPicker.open()"><i
                    class="fa fa-calendar"></i> Date From
            </button>
            <mat-datepicker #createdDateFromPicker disabled="false"></mat-datepicker>
            <input class="form-control" name="craetedDateFrom"
                   [(ngModel)]="data.dateFrom" matInput
                   [matDatepicker]="createdDateFromPicker"
                   disabled>
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="button" class="btn btn-info"
                    (click)="createdDateToPicker.open()"><i
                    class="fa fa-calendar"></i> Date To
            </button>
            <mat-datepicker #createdDateToPicker disabled="false"></mat-datepicker>
            <input class="form-control" name="craetedDateFrom"
                   [(ngModel)]="data.dateTo" matInput
                   [matDatepicker]="createdDateToPicker"
                   disabled>
        </div>
    </div>

    <!--<multi-select>-->
    <div class="form-group" *ngIf="data.fK_CategoryType_Id == 1 || selectedQuantities">
        <label style="display: block">Quantity</label>
        <p-multiSelect name="quantity" [required]="data.fK_CategoryType_Id == 1" [options]="quantities"
                       [(ngModel)]="selectedQuantities"
                       optionLabel="nameEN"></p-multiSelect>
    </div>

    <div class="form-group" *ngIf="data.fK_CategoryType_Id == 1 || selectedCuttings">
        <label style="display: block">Cutting</label>
        <p-multiSelect name="cutting" [options]="cuttings"
                       [(ngModel)]="selectedCuttings"
                       optionLabel="nameEN"></p-multiSelect>
    </div>

    <div class="form-group">
        <label>Code</label>
        <input required class="form-control" type="text" placeholder="code" [(ngModel)]="data.code" name="code">
    </div>

    <div class="form-group">
        <label>Weight</label>
        <input required class="form-control" type="text" placeholder="weight" [(ngModel)]="data.weight" name="Weight">
    </div>

    <div class="form-group" *ngIf="data.fK_CategoryType_Id == 1 || (isExistedItem && data.price != 0)">
        <label>Current Stock</label>
        <input [required]="data.fK_CategoryType_Id == 1" class="form-control" type="number" placeholder="stock"
               [(ngModel)]="data.currentStock"
               name="currentStock">
    </div>

    <div class="form-group" *ngIf="data.fK_CategoryType_Id == 1 || (isExistedItem && data.price != 0)">
        <label>Price</label>
        <input class="form-control" type="number" placeholder="Price" [(ngModel)]="data.price" name="price">
    </div>

    <div class="form-group">
        <span>Active</span>
        <input style="display: inline-block" type="checkbox" class="checkbox" [(ngModel)]="data.isActive"
               name="isActive">
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-6 margin-top-35">
            <img class="item-img" *ngIf="isExistedItem && data.pictureURL" [src]="data.pictureURL">
            <span style="width: 100%" class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new">Select image</span>
                    <input required (change)="selectImage($event)" type="file" name="file"
                           accept="image/x-png,image/gif,image/jpeg"/>
                                        </span>
            <p *ngIf="selectedFileName">{{selectedFileName}} <i (click)="removeSelectedImage()"
                                                                class="fa fa-times"></i></p>
        </div>
    </div>


    <app-form-required-error
            *ngIf="(addEditItemForm.submitted && addEditItemForm.invalid) || (addEditItemForm.submitted &&!isItemImageIncluded)"></app-form-required-error>

    <app-form-required-error
            *ngIf="failed" [body]="'Error Due to Network, Please try again!'"></app-form-required-error>

    <div class="text-right margin-top-35">
        <button class="btn btn-default" type="button" (click)="closeDialog()">Close</button>
        <button class="btn btn-light" type="submit">Save</button>
    </div>

</form>

<div class="loading-icon" *ngIf="toggleLoading">
    <div></div>
</div>
