<div class="row">
    <div class="col-md-12 col-xs-12 add-new-order-container">
        <button class="btn btn-primary pull-right" (click)="openAddModal()"><i class="fa fa-plus-circle"></i> New
        </button>
    </div>
</div>

<div class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
           width="100%"
           style="width:100%">
        <thead>
        <tr *ngIf="items.length">
            <th>Number</th>
            <th>Name English</th>
            <th>Name Arabic</th>
            <th class="disabled-sorting">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of items; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item?.nameEN}}</td>
            <td>{{item?.nameAR}}</td>
            <td class="td-actions">
                <button (click)="openEditModal(item)" type="button" title="edit" rel="tooltip"
                        class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                </button>
                <button (click)="deletePlace(item.id)" type="button" title="delete" rel="tooltip"
                        class="btn btn-danger">
                    <i class="fa fa-close"></i>
                </button>


            </td>
        </tr>

        </tbody>
    </table>
</div>
