<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="form-group">
          <label>Stock type</label>
          <select name="type" required (change)="getCategories()" [(ngModel)]="selectedType"
                  class="form-control">
            <option [value]="undefined" *ngIf="!selectedType">-- Select Type --</option>
            <option *ngFor="let type of categoryTypes" [value]="type.nameEN">{{type.nameEN}}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Category State</label>
          <select name="state" required (change)="getCategories()" [(ngModel)]="selectedState"
                  class="form-control">
            <option [value]="undefined" *ngIf="!selectedState">-- Select Type --</option>
            <option [value]="'active'">Active Category</option>
            <option [value]="'deactive'">De-active Category</option>
          </select>
        </div>
  
        <div class="form-group" *ngIf="selectedState && selectedType">
          <label>Category</label>
          <select name="category" required #data (change)="getSubCategories(data)" [(ngModel)]="selectedCategory"
                  class="form-control" (change)="onChangeCategory($event.target.value)">
            <option [value]="undefined" *ngIf="!selectedCategory">-- Select Category --</option>
            <option *ngFor="let category of categoryList" [value]="category.id">{{category.nameEN}}</option>
          </select>
        </div>
  
        <div class="form-group" *ngIf="selectedCategory">
            <label>Select subcategory</label>
            <select name="category" required (change)="onChangeSubcategory($event.target.value)"
                    class="form-control" >
              <option [value]="undefined">-- Select Subcategory --</option>
              <option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id">{{subCategory.nameEN}}</option>
            </select>
          </div>

    </div>
  </div>
  

  