<div class="container-fluid">
    <div class="row">
        <h4>
            Stock
        </h4>
        <div class="card">

            <div class="card-header card-header-tabs" data-background-color="red">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                            [routerLink]="['/mawashi-crm/stock']">
                          <a data-toggle="tab">
                            <i class="material-icons">
                              assignment
                            </i> Categories
                            <div class="ripple-container"></div>
                          </a>
                        </li>

                        <li routerLinkActive="active" [routerLink]="['subcategory']">
                          <a data-toggle="tab">
                            <i class="material-icons">
                              device_hub
                            </i> Subcategories
                            <div class="ripple-container"></div>
                          </a>
                        </li>

                        <li routerLinkActive="active" [routerLink]="['item']">
                          <a data-toggle="tab">
                            <i class="material-icons">
                              featured_play_list
                            </i> Items
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li routerLinkActive="active" [routerLink]="['cutting']">
                          <a data-toggle="tab">
                            <i class="material-icons">
                              settings_input_composite

                            </i> Cuttings
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li routerLinkActive="active" [routerLink]="['quantity']">
                          <a data-toggle="tab">
                            <i class="material-icons">
                              fiber_smart_record
                            </i> Quantities
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
