<div class="full-page section-image loginWrapper">
  <div class="content">
    <div class="container">
      <div class="col-md-4 col-sm-6 col-md-offset-4 mr-auto">
        <form #signInForm='ngForm' (ngSubmit)="signInForm.valid && logIn()" style="margin-top: 30%;">
          <div class="card padding-25 card-login card-hidden">
            <div class="row logo-container">
              <div class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6 text-center">
                <img src="../../../assets/img/logo.png">
              </div>
            </div>

            <div class="card-content">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
                <div class="form-group label-floating">
                  <label class="control-label">User Name</label>
                  <input type="text" required name="userName" [(ngModel)]="logInData.userName" class="form-control has-error">
                  <small *ngIf="signInForm?.controls?.userName?.invalid && signInForm.submitted" class="text-danger">
                    <i style="display: inline" class="fa fa-exclamation-triangle"></i>
                    This field is required
                  </small>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <div class="form-group label-floating">
                  <label class="control-label">Password</label>
                  <input type="password" required name="password" [(ngModel)]="logInData.password" class="form-control">
                  <small *ngIf="signInForm?.controls?.password?.invalid && signInForm.submitted" class="text-danger">
                    <i style="display: inline" class="fa fa-exclamation-triangle"></i>
                    This field is required
                  </small>
                </div>
              </div>
            </div>
            <div class="footer text-center">
              <button type="submit" class="btn btn-light btn-wd">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  