<div class="row">
    <div class="col-md-12 col-xs-12 add-new-order-container margin-top-20 margin-bottom-20">
        <button class="btn btn-primary btn-round btn-fab btn-fab-mini pull-right" (click)="openAddItemModal()"><i
                class="fa fa-plus-circle"></i></button>
    </div>
</div>

<div class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
           width="100%"
           style="width:100%">
        <thead>
        <tr *ngIf="itemList.length">
            <!--<th>Code</th>-->
            <th>English Name</th>
            <th>Arabic Name</th>
            <th>English Description</th>
            <th>Arabic Description</th>
            <th>Current Stock</th>
            <th>Current KG Stock</th>
            <th>Current Head Stock</th>
            <th>Current Pieces Stock</th>
            <th>Price</th>
            <th>Picture</th>
            <th class="disabled-sorting text-right">View</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of itemList; let i = index">
            <!--<td><img [src]="customer?.picturePath"></td>-->
            <!--<td>{{category?.code}}</td>-->
            <td>{{item?.nameEN}}</td>
            <td>{{item?.nameAR}}</td>
            <td>{{item?.descriptionEN}}</td>
            <td>{{item?.descriptionAR}}</td>
            <td>{{item?.currentStock}}</td>
            <td>{{item?.currentKgsStock}}</td>
            <td>{{item?.currentHeadStock}}</td>
            <td>{{item?.currentPiecesStock}}</td>
            <td>{{item?.price}}</td>
            <td><img class="item-img" *ngIf="item.pictureURL" [src]="item.pictureURL"></td>
            <td class="td-actions text-right">

                <button *ngIf="!item.isActive" (click)="setItemActive(item.id)" type="button" rel="tooltip"
                        class="btn btn-success">
                    <i class="fa fa-power-off"></i>
                </button>

                <button *ngIf="item.isActive" (click)="setItemDeactive(item.id)" type="button" rel="tooltip"
                        class="btn btn-danger">
                    <i class="fa fa-power-off"></i>
                </button>

                <button (click)="openEditItemModal(item)" type="button" rel="tooltip" class="btn btn-info">
                    <i class="fa fa-edit"></i>
                </button>

                <button (click)="deleteItem(item.id)" type="button" rel="tooltip" class="btn btn-danger">
                    <i class="fa fa-close"></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<p class="text-center" *ngIf="!itemList.length && toggleNotFoundText"><i class="fa fa-exclamation-triangle"></i>No Items
    found.</p>
