<form #orderStatus="ngForm" (ngSubmit)="orderStatus.valid && saveOrder()">
    <div class="form-group">
        <label>Order <span>{{data.type}}</span></label>
        <select *ngIf="data.type == 'status'" required class="form-control" [(ngModel)]="selectedValue" name="status">
            <option *ngIf="!selectedValue" [value]="undefined">
                -- choose --
            </option>
            <option *ngFor="let status of allStatus" [value]="status?.id">
                {{status?.nameEN}}
            </option>
        </select>

        <select *ngIf="data.type == 'address'" required class="form-control" [(ngModel)]="selectedValue" name="address">
            <option *ngIf="!selectedValue" [value]="undefined">
                -- choose --
            </option>
            <option *ngFor="let address of allAddress" [value]="address?.id">{{address?.name}}</option>
        </select>

        <select *ngIf="data.type == 'producer'" required class="form-control" [(ngModel)]="selectedValue"
                name="address">
            <option *ngIf="!selectedValue" value="undefined">
                -- choose --
            </option>
            <option *ngFor="let producer of allProducers" [value]="producer?.id">{{producer?.userName}}</option>
        </select>

        <select *ngIf="data.type == 'driver'" required class="form-control" [(ngModel)]="selectedValue" name="address">
            <option *ngIf="!selectedValue" [value]="undefined"> -- Select Driver --</option>
            <option *ngFor="let driver of allDrivers" [value]="driver?.id">{{driver?.userName}}</option>
        </select>


        <div class="row margin-top-25">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModal()" type="button">Close</button>
                <button class="btn btn-light" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>