<!--<div class="modal-content">-->

<div class="modal-header">
    <h5>Change Delivery Date</h5>
</div>

<div *ngIf="toggleLoading" class="loading-icon">
    <div></div>
</div>

<div *ngIf="!toggleLoading">

    <div class="modal-body">
        <button type="button" class="btn btn-info"
                (click)="deliveryDatePicker.open()"><i
                class="fa fa-calendar"></i> Choose Delivery Date
        </button>
        <mat-datepicker #deliveryDatePicker disabled="false"></mat-datepicker>
        <input class="form-control" name="deliveryDate"
               [(ngModel)]="data.deliveryDate" matInput
               [matDatepicker]="deliveryDatePicker"
               disabled>

        <div class="row buttons-container">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModal()">Close</button>
                <button class="btn btn-light" (click)="saveDeliveryDate()">Save</button>
            </div>
        </div>

    </div>

</div>

<!--</div>-->
