<div [hidden]="!toggleLoading" class="loading-icon">
    <div></div>
</div>

<form [hidden]="toggleLoading" #addCustomersForm="ngForm" (ngSubmit)="addCustomersForm.valid && postCustomerData()">

    <div class="form-group" *ngIf="!isExistedAccount">
        <label for="userName" class="control-label">User Name</label>
        <input [disabled]="toggleDisableForm" placeholder="User Name" id="userName" name="userName"
               [(ngModel)]="customerData.userName"
               type="text"
               class="form-control">
        <small *ngIf="addCustomersForm?.controls?.userName?.invalid && addCustomersForm.submitted"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i> This Field is required.
        </small>
    </div>

    <!--/*********************************/-->
    <!--/*Special fields for company only*/-->
    <!--/*********************************/-->

    <div *ngIf="typeSales">

        <!--<div class="form-group">-->
            <!--<label for="name" class="control-label">Company Name</label>-->
            <!--<input [required]="typeSales" [disabled]="toggleDisableForm" placeholder="Company Name" id="name"-->
                   <!--name="name"-->
                   <!-- [(ngModel)]="customerData.name" -->
                   <!--type="text"-->
                   <!--class="form-control">-->
            <!--<small *ngIf="addCustomersForm?.controls?.name?.invalid && addCustomersForm.submitted"-->
                   <!--class="text-danger">-->
                <!--<i class="fa fa-exclamation-triangle"></i> This Field is required.-->
            <!--</small>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="contact-name" class="control-label">Contact Name</label>-->
            <!--<input [required]="typeSales" [disabled]="toggleDisableForm" placeholder="Contact Name" id="contact-name"-->
                   <!--name="contactName"-->
                   <!-- [(ngModel)]="customerData.contactName"-->
                   <!--type="text"-->
                   <!--class="form-control">-->
            <!--<small *ngIf="addCustomersForm?.controls?.contactName?.invalid && addCustomersForm.submitted"-->
                   <!--class="text-danger">-->
                <!--<i class="fa fa-exclamation-triangle"></i> This Field is required.-->
            <!--</small>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="ContactPhone" class="control-label">Contact Phone</label>-->
            <!--<input [required]="typeSales" [disabled]="toggleDisableForm" placeholder="Contact Phone" id="ContactPhone"-->
                   <!--name="contactPhone" [pattern]="phoneRegex"-->
                   <!-- [(ngModel)]="customerData.contactPhone"-->
                   <!--type="text"-->
                   <!--class="form-control">-->

            <!--<small *ngIf="addCustomersForm?.controls?.contactPhone?.invalid && addCustomersForm.submitted"-->
                   <!--class="text-danger">-->
                <!--<i class="fa fa-exclamation-triangle"></i> This Field is required.-->
            <!--</small>-->

            <!--<small *ngIf="addCustomersForm?.controls?.contactPhone?.invalid && addCustomersForm?.controls?.contactPhone?.dirty && addCustomersForm?.submitted"-->
                   <!--class="text-danger">-->
                <!--<i class="fa fa-exclamation-triangle"></i> Phone Should be Numbers only.-->
            <!--</small>-->

        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="ContactMail" class="control-label">Company Mail</label>-->
            <!--<input [required]="typeSales" [disabled]="toggleDisableForm" placeholder="Contact Mail" id="ContactMail"-->
                   <!--name="contactMail"-->
                   <!-- [(ngModel)]="customerData.contactMail"-->
                   <!--type="text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"-->
                   <!--class="form-control">-->
            <!--<small *ngIf="addCustomersForm?.controls?.contactMail?.invalid && addCustomersForm.submitted"-->
                   <!--class="text-danger">-->
                <!--<i class="fa fa-exclamation-triangle"></i> Email is required and format should be <i>john@doe.com</i>.-->
            <!--</small>-->
        <!--</div>-->

    </div>

    <!--<div class="form-group ">-->
    <!--<label for="email" class="control-label">Email</label>-->
    <!--<input [disabled]="toggleDisableForm" placeholder="example@example.com" id="email" name="email" required-->
    <!-- [(ngModel)]="customerData.email" type="email"-->
    <!--class="form-control" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">-->
    <!--<small *ngIf="addCustomersForm?.controls?.email?.invalid && addCustomersForm.submitted"-->
    <!--class="text-danger">-->
    <!--<i class="fa fa-exclamation-triangle"></i> Email is required and format should be <i>john@doe.com</i>.-->
    <!--</small>-->
    <!--</div>-->

    <!--/************************************************************/-->

  <div *ngIf="!typeSales">
    <div class="form-group ">
        <label for="email" class="control-label">Email</label>
        <input [disabled]="toggleDisableForm" placeholder="example@example.com" id="email" name="email"
               [(ngModel)]="customerData.email" type="email"
               class="form-control" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
        <small *ngIf="addCustomersForm?.controls?.email?.invalid && addCustomersForm.submitted"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i> Email is required and format should be <i>john@doe.com</i>.
        </small>
    </div>
    </div>

    <div class="form-group ">
        <label for="firstName" class="control-label">First Name</label>
        <input [disabled]="toggleDisableForm" placeholder="First Name" id="firstName" name="firstName"
               [(ngModel)]="customerData.firstName" required
               type="text"
               class="form-control">
        <small *ngIf="addCustomersForm?.controls?.firstName?.invalid && addCustomersForm.submitted"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i> This Field is required.
        </small>
    </div>

    <div class="form-group ">
        <label for="lastName" class="control-label">Last Name</label>
        <input [disabled]="toggleDisableForm" placeholder="Last Name" id="lastName" name="lastName"
               [(ngModel)]="customerData.lastName" required type="text"
               class="form-control">
        <small *ngIf="addCustomersForm?.controls?.lastName?.invalid && addCustomersForm.submitted"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i> This Field is required.
        </small>
    </div>

  <div class="form-group " *ngIf="typeSales">
    <label for="lastName" class="control-label">Wallet money amount</label>
    <input [disabled]="toggleDisableForm" placeholder="wallet money" id="wallet" name="wallet"
           [(ngModel)]="customerData.wallet" type="number"
           class="form-control">
  </div>

  <div *ngIf="!typeSales">

    <div class="form-group" *ngIf="!isExistedAccount">
        <label for="password" class="control-label">Password</label>

        <input [disabled]="toggleDisableForm" style="display: none" name="password"
               type="password"
               class="form-control">

        <input placeholder="Password" id="password" minlength="3" name="password"
               [(ngModel)]="customerData.password"
               type="password"
               class="form-control">

        <small *ngIf="addCustomersForm?.controls?.password?.invalid && addCustomersForm.submitted"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i> This Field is required.
        </small>

        <small *ngIf="addCustomersForm?.controls?.password?.invalid && addCustomersForm.submitted && addCustomersForm?.controls?.password?.dirty"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i>Password must contain 1 special character, 1 capital letter, 1
            small letter and number.
        </small>
    </div>

    <div class="form-group">
        <label for="phone" class="control-label">Phone</label>
        <input [pattern]="phoneRegex" [disabled]="toggleDisableForm" placeholder="Phone Number" id="phone" name="phone"
               [(ngModel)]="customerData.phone1"
               required type="tel"
               class="form-control">

        <small *ngIf="addCustomersForm?.controls?.phone?.invalid && addCustomersForm.submitted"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i> This Field is required.
        </small>
        <small *ngIf="addCustomersForm?.controls?.phone?.invalid && addCustomersForm.submitted && addCustomersForm?.controls?.phone?.dirty"
               class="text-danger">
            <i class="fa fa-exclamation-triangle"></i> Phone Must be Numbers Only.
        </small>
    </div>
  </div>

    <div class="text-center">
        <button (click)="toggleEditMode()" *ngIf="!toggleDisableForm && isExistedAccount" type="button"
                class="btn btn-fill btn-default"> Cancel
        </button>
        <button *ngIf="!toggleDisableForm" type="submit" class="btn btn-fill btn-rose"> Save</button>
        <button (click)="toggleEditMode()" *ngIf="toggleDisableForm" type="button" class="btn btn-fill btn-rose"> Edit
        </button>
    </div>
</form>
