<p>
    {{data.body}}
</p>
<div class="text-center">
    <button class="btn btn-default" (click)="close()">{{data.cancel}}</button>
    <button class="btn btn-light" (click)="accept()">{{data.accept}}</button>
</div>
