<form #searchPhoneNumberForm="ngForm" class="form-inline text-center"
      (ngSubmit)="searchPhoneNumberForm.valid && searchPhoneNumber()">
  <div class="form-group label-floating">
    <label class="control-label">Search</label>
    <input name="phone" [(ngModel)]="phoneNumber" class="form-control has-error" type="text" required>
  </div>
  <button class="btn btn-light" [disabled]="toggleLoading">
    <span><i class="fa fa-search"></i>Search</span>
  </button>
</form>

<p class="text-center" *ngIf="toggleAddCustomer && !toggleLoading">
  This <span *ngIf="typeApp">Customer</span>
  <span *ngIf="typeSales">Company</span> not registered, Please Register
  <span *ngIf="typeApp">Customer</span> <span *ngIf="typeSales">Company</span> info
  <button class="btn btn-light" [routerLink]="['createAccount', {type: type}]">Here</button>
  or back to registered <a class="btn btn-light" (click)="getAllCustomers()">
    <span *ngIf="typeApp">Customers</span> <span *ngIf="typeSales">Companies</span>
  </a>
</p>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-light pull-right" [routerLink]="['createAccount', {type: type}]">
      <i class="fa fa-plus"></i> Add New
    </button>
  </div>
</div>

<div *ngIf="toggleLoading" class="loading-icon">
  <div></div>
</div>

<div class="row" *ngIf="customers.length && !toggleLoading && !toggleAddCustomer">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="red">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Accounts</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">
          <table datatable class="table table-striped table-no-bordered table-hover">
            <thead>
              <tr>
                <!--<th>Avatar</th>-->
                <th>User Name</th>
                <th>Name</th>
                <th *ngIf="typeApp">Email</th>
                <th *ngIf="typeApp">Phones</th>
                <th class="disabled-sorting">View</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let customer of customers; let i = index">
                <!--<td><img [src]="customer?.picturePath"></td>-->
                <td>{{customer?.userName}}</td>
                <td>{{customer?.firstName}} {{customer?.lastName}}</td>
                <td *ngIf="typeApp">{{customer?.email}}</td>
                <td *ngIf="typeApp">{{customer?.phone1}}, {{customer.phone2}}</td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" class="btn btn-info"
                          (click)="viewDetails(customer.id)">
                    View Details
                  </button>
                  <button type="button" rel="forget password" class="btn btn-default"
                          (click)="forgetPassword(customer.userName)">
                    Forget Password
                  </button>
                  <button type="button" *ngIf="typeSales" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmation"
                          (click)="selectItemToDelete(customer.id)">
                    Delete
                  </button>
                </td> 
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <!-- end content-->
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>
<div id="deleteConfirmation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteSelectedItem()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
      </div>
    </div>
  </div>
</div>
