.add-new-order-container {
    text-align: right; }
  
  /*# sourceMappingURL=orders-table.component.css.map */
  
  @media 
      only screen and (max-width: 760px),
      (min-device-width: 768px) and (max-device-width: 1024px)  {
      
          /* Force table to not be like tables anymore */
          table, thead, tbody, th, td, tr { 
              display: block; 
          }
          
          /* Hide table headers (but not display: none;, for accessibility) */
          thead tr { 
              position: absolute;
              top: -9999px;
              left: -9999px;
          }
          
          tr { border: 1px solid #ccc; }
          
          td { 
              /* Behave  like a "row" */
              border: none;
              /* border-bottom: 1px solid #eee;  */
              position: relative;
              padding-left: 50% !important; 
          }
          
          td:before { 
              /* Now like a table header */
              position: absolute;
              /* Top/left values mimic padding */
              top: 6px;
              left: 6px;
              width: 45%; 
              padding-right: 10px; 
              white-space: nowrap;
          }
          .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 6px 8px;
        vertical-align: middle;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: none;
  }
          /*
          Label the data
          */
          td:nth-of-type(1):before { content: "User Name"; }
          td:nth-of-type(2):before { content: "Name"; }
          td:nth-of-type(3):before { content: "Email"; }
          td:nth-of-type(4):before { content: "Phones"; }
          td:nth-of-type(5):before { content: "View"; }
      }
      
     /* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
  