<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="red">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Orders</h4>
                <div class="toolbar">
                    <app-filter (filterTerms)="getFilterOrders($event)"
                                [type]="type"></app-filter>
                </div>

                <div class="material-datatables margin-top-20" *ngIf="filteredOrders.length">
                    <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
                           width="100%" style="width:100%">
                        <thead>
                        <tr>
                            <th>Order Code</th>
                            <th>Delivery Type</th>
                            <th>Created Date</th>
                            <th>Delivery Date</th>
                            <th>Payment Type</th>
                            <th>Platform</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let order of filteredOrders">
                            <td>{{order?.code}}</td>
                            <td>{{order?.deliveryType}}</td>
                            <td>{{order?.createdDate | date:'fullDate'}}</td>
                            <td>{{order?.deliveryDate | date:'fullDate'}}</td>
                            <td>{{order?.paymentMessage}}</td>
                            <td>{{order?.platform}}</td>
                            <td>{{order?.price}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <p style="color: red" *ngIf="!filteredOrders.length" class="text-center"><i
                        class="fa fa-exclamation-triangle"></i> No Result</p>

            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
        <mat-paginator [length]="count"
                       [pageSize]="pageSize"
                       (page)="pageEvent($event)"
                       [hidePageSize]="true" [pageIndex]="pageNumber">
        </mat-paginator>
    </div>
    <!-- end col-md-12 -->
</div>
