<div *ngIf="admin || superAdmin || customerService">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="rose">
                    <i class="material-icons">equalizer</i>
                </div>
                <div class="card-content">
                    <p class="category">Registerd Users</p>
                    <h3 class="card-title">{{customersCount}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> System Users So far
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">shopping_cart</i>
                </div>
                <div class="card-content">
                    <p class="category">Delivered Orders</p>
                    <h3 class="card-title">{{states?.deliveredOrdersCount}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">shopping_basket</i>
                </div>
                <div class="card-content">
                    <p class="category">Total Orders Count</p>
                    <h3 class="card-title">{{states?.ordersCount}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Pending orders for today
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">attach_money</i>
                </div>
                <div class="card-content">
                    <p class="category">Total Payment</p>
                    <h3 class="card-title">{{states?.totalPayment}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header" data-background-color="rose" data-header-animation="false">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-content">
                    <div class="card-actions">
                    </div>
                    <h4 class="card-title">Users Review</h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header" data-background-color="green" data-header-animation="false">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-content">
                    <div class="card-actions">
                        <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                            <i class="material-icons">build</i> Fix Header!
                        </button>
                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom"
                                title="Refresh">
                            <i class="material-icons">refresh</i>
                        </button>
                        <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom"
                                title="Change Date">
                            <i class="material-icons">edit</i>
                        </button>
                    </div>
                    <h4 class="card-title">Daily Sales</h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Latest Orders</h4>

                <app-filter (resetFilterTerms)="filterOrders($event)" (filterTerms)="filterOrders($event)"
                            [hideExport]="true"></app-filter>

                <app-orders-table [totalOrdersCount]="totalOrdersCount" [canAddNew]="false" [orders]="latestOrders"
                                  [tableType]="'actionTable'" (pageChanged)="navigatePages($event)" (updated)="getOrders()"></app-orders-table>

                <div class="text-center" style="color:red" *ngIf="!latestOrders.length"><i
                        class="fa fa-exclamation-triangle"></i> No
                    Orders Found
                </div>

            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
