



    <form #locationForm="ngForm" *ngFor="let address of addresses; let i=index" class="margin-top-20 address-container"
          (ngSubmit)="locationForm.valid && saveAddress()">

      <!--<div >-->

        <h4>
          Address {{address?.name}}
          <strong *ngIf="address.newAddress"
                  style="color: red">New!</strong>
        </h4>
      <!--<div class="row">-->

      <i (click)="removeAddress(i, address.id)" class="fa fa-close remove-btn"></i>

      <div class="row">

        <div class="form-group col-md-12 col-xs-12" *ngIf="!adminType">
          <label>Name</label>
          <input [disabled]="!address?.newAddress" [name]="'Name' + i" class="form-control" type="text"
                 [(ngModel)]="address.name"
                 [required]="!adminType">
        </div>

        <div class="form-group col-md-12 col-xs-12" *ngIf="adminType">
          <label>Name English</label>
          <input [disabled]="!address?.newAddress && !adminType" [name]="'NameEN' + i" class="form-control"
                 type="text"
                 [(ngModel)]="address.nameEN"
                 required>
        </div>

        <div class="form-group col-md-12 col-xs-12" *ngIf="adminType">
          <label>Name Arabic</label>
          <input [disabled]="!address?.newAddress && !adminType" [name]="'NameAR' + i" class="form-control"
                 type="text"
                 [(ngModel)]="address.nameAR"
                 required>
        </div>

        <div class="form-group col-md-6 col-xs-12">
          <label>
            <span *ngIf="customerData.country_Code.toLowerCase() == 'kuwait'">PACI</span><span *ngIf="customerData.country_Code.toLowerCase() == 'uae'">Makany</span> Number
          </label>
          <input (keyup)="checkForPACIorMakany(address)" [disabled]="!address?.newAddress && !adminType"
                 [name]="'number' + i" class="form-control" type="text"
                 [(ngModel)]="address.number">
        </div>


        <div class="col-md-12 col-xs-12" *ngIf="address.toggleLoading">
          <div class="loading-icon">
            <div></div>
          </div>
        </div>

        <div *ngIf="!address.toggleLoading">
          <div class="form-group col-md-6 col-xs-12">
            <label>Governorate</label>
            <input [disabled]="!address?.newAddress && !adminType" [name]="'gov' + i" class="form-control"
                   type="text"
                   [(ngModel)]="address.governorateName"
                   required>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Area</label>
            <input [disabled]="!address?.newAddress && !adminType" [name]="'area' + i" class="form-control"
                   type="text"
                   [(ngModel)]="address.areaName"
                   required>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Block</label>
            <input [disabled]="!address?.newAddress && !adminType" [name]="'block' + i" class="form-control"
                   type="text"
                   [(ngModel)]="address.blockName"
                   required>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Street</label>
            <input [disabled]="!address?.newAddress && !adminType" [name]="'street' + i" class="form-control"
                   type="text"
                   [(ngModel)]="address.streetName"
                   required>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Building</label>
            <input [disabled]="!address?.newAddress && !adminType" [name]="'building' + i" class="form-control"
                   type="text"
                   [(ngModel)]="address.building"
                   required>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Floor</label>
            <input [disabled]="!address?.newAddress && !adminType" [name]="'floor' + i" class="form-control"
                   type="text"
                   [(ngModel)]="address.floor"
                   required>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Appartment</label>
            <input [disabled]="!address?.newAddress && !adminType" [name]="'appartment' + i" class="form-control"
                   type="text"
                   [(ngModel)]="address.appartmentNumber"
                   required>
          </div>

          <div class="form-group col-md-6 col-xs-12">
            <label>Delivery Note</label>
            <textarea [disabled]="!address?.newAddress && !adminType" [name]="'note' + i" class="form-control"
                      [(ngModel)]="address.deliveryNote"></textarea>
          </div>
          <div class="form-group col-md-12 col-xs-12">
            <agm-map [latitude]="address.latitude==undefined?lat:address.latitude"
                     [longitude]="address.longitude==undefined?lng:address.longitude"
                     (mapClick)="mapClicked($event)">

              <agm-marker [latitude]="address.latitude==undefined?lat:address.latitude"
                          [longitude]="address.longitude==undefined?lng:address.longitude">
              </agm-marker>

            </agm-map>
          </div>


        </div>
      </div>
      <!--</div>-->

      <app-form-required-error *ngIf="locationForm.submitted && locationForm.invalid && locationForm.dirty"></app-form-required-error>

      <div class="text-right margin-top-35" *ngIf="address?.newAddress || adminType">
        <button class="btn btn-default" type="button" (click)="removeAddress()">Close</button>
        <button class="btn btn-light" type="submit">Save Address</button>
      </div>

    </form>

  

