.address-container {
  position: relative;
  .remove-btn {
    position: absolute;
    right: 10px;
    top: -5px;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}
agm-map {
  height: 300px;
}
