.address-container {
  position: relative;
}

  .address-container .remove-btn {
    position: absolute;
    right: 10px;
    top: -5px;
  }

    .address-container .remove-btn:hover {
      cursor: pointer;
      color: red;
    }

/*# sourceMappingURL=address-form.component.css.map */
