    <div [hidden]="!toggleSideNav" class="sidebar" data-active-color="red" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
        <div class="logo">
            <a href="" class="simple-text logo-mini">
                <img src="../assets/img/miniLogo.png" width="25">
            </a>
            <a href="" class="simple-text logo-normal">
                <img src="../assets/img/logo1.png" width="140">
            </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="../assets/img/faces/abstract-user-flat-1.jpg" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            {{userData?.userName}}
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                                <a (click)="openChangePasswordModal()">
                                    <i class="material-icons" style="visibility:hidden;">repeat</i>
                                    <p> Change Password </p>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                                <a routerLink="login" (click)="logOut()">
                                    <i class="material-icons" style="visibility:hidden;">lock-open</i>
                                    <p> LogOut </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav">
                <li *ngIf="!isGuestRole && !isAdminRole" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                    routerLink="/mawashi-crm/home">
                    <a>
                        <i class="material-icons">dashboard</i>
                        <p> {{ 'dashboard' | translate }} </p>
                    </a>
                </li>
                <li *ngIf="isCustomerServiceRole || isSuperAdminRole" class="nav-item" routerLinkActive="active" [routerLink]="['accounts', {type: 'app'}]">
                    <a>
                        <i class="material-icons">person</i>
                        <p> {{ 'accounts' | translate }}
                        </p>
                    </a>
                </li>
                <li *ngIf="isSalesRole || isSuperAdminRole" class="nav-item" routerLinkActive="active" [routerLink]="['companies-accounts', {type: 'sales'}]">
                    <a>
                        <i class="fa fa-building"></i>
                        <p> {{ 'salesAccounts' | translate }}
                        </p>
                    </a>
                </li>

                <li *ngIf="isGuestRole || isSuperAdminRole || isSalesRole || isProducerRole" routerLinkActive="active">
                    <a data-toggle="collapse" href="#tablesExamples">
                        <i class="material-icons">grid_on</i>
                        <p>{{ 'orders' | translate }}
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="tablesExamples">
                        <ul class="nav">
                            <li *ngIf="isGuestRole || isSuperAdminRole" routerLinkActive="active">
                                <a [routerLink]="['orders-app', {type:'app'}]">
                                    <!--<span class="sidebar-mini" style="width: 25px"></span>-->
                                    <span class="sidebar-normal">App Orders</span>
                                </a>
                            </li>
                            <li *ngIf="isSalesRole || isSuperAdminRole || isProducerRole" routerLinkActive="active">
                                <a [routerLink]="['orders-sales', {type: 'sales'}]">
                                    <!--<span class="sidebar-mini" style="width: 25px"></span>-->
                                    <span class="sidebar-normal">Sales Orders</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="isLogistecsRole || isSuperAdminRole" class="nav-item" routerLinkActive="active" routerLink="stock">
                    <a>
                        <i class="material-icons">store </i>
                        <p> {{ 'stock' | translate }} </p>
                    </a>
                </li>
                <li *ngIf="isAdminRole || isSuperAdminRole" class="nav-item" routerLinkActive="active" routerLink="system-accounts">
                    <a>
                        <i class="fa fa-id-card"></i>
                        <p> {{ 'system-accounts' | translate }} </p>
                    </a>
                </li>
                <li *ngIf="isAdminRole || isSuperAdminRole" class="nav-item" routerLinkActive="active" routerLink="administrations">
                    <a>
                        <i class="fa fa-user-secret"></i>
                        <p> Administrations </p>
                    </a>
                </li>

                <li *ngIf="isSuperAdminRole || isCustomerServiceRole" routerLink="complains" class="nav-item" routerLinkActive="active">
                    <a>
                        <i class="fa fa-exclamation-triangle"></i>
                        <p> Complains </p>
                    </a>
                </li>

                <li *ngIf="isSuperAdminRole || isAccountantRole" class="nav-item" routerLink="invoices" routerLinkActive="active">
                    <a>
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <p> Invoices </p>
                    </a>
                </li>

                <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLink="home/contact-us" routerLinkActive="active">
                    <a>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p> Contact US </p>
                    </a>
                </li>

                <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLink="announcement" routerLinkActive="active">
                    <a>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p> Announcement </p>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav [hidden]="!toggleSideNav" class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                        <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                        <i class="material-icons visible-on-sidebar-mini">view_list</i>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""> {{ 'dashboard' | translate }} </a>
                </div>
                <div class="collapse navbar-collapse justify-content-end">
                        <!-- <form class="navbar-form navbar-left navbar-search-form" role="search"></form> -->
                    <ul class="nav navbar-nav navbar-right mr-auto">
                        <li class="nav-item dropdown show">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                                <p class="hidden-lg hidden-md">Profile</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a (click)="openChangePasswordModal()">Change Password</a>
                                </li>
                                <li>
                                    <a routerLink="login" (click)="logOut()">LogOut</a>
                                </li>
                            </ul>
                        </li>

                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>

                </div>
                <!-- <div class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav mr-auto">
                        <form class="navbar-form navbar-left navbar-search-form" role="search">

                        </form>
                    </ul>
                </div> -->
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">

                <router-outlet></router-outlet>

            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <!--<script>-->
                <!--document.write(new Date().getFullYear())-->
                <!--</script>-->
                <div class="row">
                    <div class="col-md-offset-1 col-md-7">
                        <p class="copyright">
                            Amanah Teknologia, All rights reserved &copy; 2018
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
