.cart-item-title {
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  font-weight: bold;
}

.cart-item-container {
  position: relative;
  .cancel-item-btn {
    position: absolute;
    top: 15px;
    right: 12px;
    transition: 0.5s all;
    &:hover {
      transition: 0.5s all;
      color: red;
      cursor: pointer;
    }
  }
}