<!--<div class="container">-->

<div *ngIf="toggleLoading" class="loading-icon">
    <div>
    </div>
</div>

<div *ngIf="activeTab == 1 && !toggleLoading">
    <div class="modal-title" xmlns="http://www.w3.org/1999/html">
        Select Cart
    </div>
    <form #createCartForm="ngForm" (ngSubmit)="createCartForm.valid && saveCart()">
        <div class="cart-item-container" *ngFor="let cartItem of cartItems; let i=index">

            <!--/**************************/-->
            <!--/*category section*/-->
            <!--/**************************/-->

            <i *ngIf="i != 0" (click)="removeCartItem(index)" class="fa fa-times cancel-item-btn"></i>

            <h3 class="cart-item-title margin-top-20 margin-bottom-10">Cart Item {{i + 1}}</h3>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select required (change)="getActiveItemsByCategoryId(cartItem)" [name]="'categoryName'+i"
                        [(ngModel)]="cartItem.categoryId" class="form-control">
                    <option *ngIf="!cartItem.categoryId" [value]="undefined">-- Select Category --</option>
                    <option *ngFor="let category of activeCategories" [value]="category.id">
                        {{category?.nameEN}}
                    </option>
                </select>
            </div>

            <!--/**************************/-->
            <!--/*category options section*/-->
            <!--/**************************/-->

            <div *ngIf="cartItem?.options?.length" class="form-group">
                <label class="control-label">Category Options</label>
                <select [required]="cartItem.options.length" [disabled]="!cartItem.categoryId"
                        [name]="'categoryOptions'+i"
                        [(ngModel)]="cartItem.fK_Option_Id" class="form-control">
                    <option *ngIf="!cartItem.fK_Option_Id" [value]="undefined">-- Select Category Option --</option>
                    <option *ngFor="let option of cartItem.options" [value]="option.id">
                        {{option?.nameEN}}
                    </option>
                </select>
            </div>

            <!--/**************************/-->
            <!--/*items section*/-->
            <!--/**************************/-->

            <div class="form-group">
                <label class="control-label">Item</label>
                <select (change)="getItemDetails(cartItem)" [disabled]="!cartItem.categoryId"
                        [name]="'itemName' + i" [(ngModel)]="cartItem.fk_Item_Id"
                        class="form-control">
                    <option *ngIf="!cartItem.fk_Item_Id" [value]="undefined">-- Select Item --</option>
                    <option *ngFor="let item of cartItem.items" [value]="item.id">
                        {{item.nameEN}}
                    </option>
                </select>
            </div>

            <!--/*************************************/-->
            <!--/******** quantity for sales *********/-->
            <!--/**************************************/-->

            <div class="form-group" *ngIf="typeSales">
                <label class="control-label">Quantity</label>
                <input type="number" [required]="typeSales" placeholder="quantity" name="quantitySalesHopa"
                       [(ngModel)]="cartItem.quantity"
                       class="form-control">
            </div>

            <div class="form-group" *ngIf="typeSales">
                <label class="control-label">Measurement</label>
                <select [required]="typeSales"
                        [name]="'quantitySales' + i" [(ngModel)]="cartItem.measurmentType"
                        class="form-control">
                    <option *ngIf="!cartItem.measurmentType" [value]="undefined">-- Select Measurement --</option>
                    <option *ngFor="let measurement of measurmentTypes" [value]="measurement?.id">
                        {{measurement?.name}}
                    </option>
                </select>
            </div>

            <!--/**************************/-->
            <!--/*quantity section*/-->
            <!--/**************************/-->

            <div class="form-group" *ngIf="typeApp">
                <label class="control-label">Quantity</label>
                <select [required]="typeApp" [disabled]="!cartItem.fk_Item_Id"
                        [name]="'quantity' + i" [(ngModel)]="cartItem.fK_Quantity_Id"
                        class="form-control">
                    <option *ngIf="!cartItem.fK_Quantity_Id" [value]="undefined">-- Select Quantity --</option>
                    <option *ngFor="let singleQuantity of cartItem.quantities" [value]="singleQuantity?.quantity?.id">
                        {{singleQuantity?.quantity?.nameEN}}
                    </option>
                </select>
            </div>

            <!--/**************************/-->
            <!--/*cutting section*/-->
            <!--/**************************/-->

            <div class="form-group" *ngIf="cartItem?.cuttings?.length && typeApp">
                <label class="control-label">Cutting</label>
                <select [required]="cartItem?.cuttings?.length && typeApp" [disabled]="!cartItem.fk_Item_Id"
                        [name]="'cutting' + i" [(ngModel)]="cartItem.fK_Cutting_Id"
                        class="form-control">
                    <option *ngIf="!cartItem.fK_Cutting_Id" [value]="undefined">-- Select Cutting --</option>
                    <option *ngFor="let cutting of cartItem.cuttings" [value]="cutting?.cutting?.id">
                        {{cutting?.cutting?.nameEN}}
                    </option>
                </select>
            </div>

            <!--/**************************/-->
            <!--/*price section*/-->
            <!--/**************************/-->

            <div class="form-group" *ngIf="typeSales">
                <label class="control-label">Price</label>
                <input name="salesPricePerItem" type="text" class="form-control" placeholder="price"
                       [(ngModel)]="cartItem.salesPricePerItem">
            </div>

            <div class="form-group" *ngIf="typeSales">
                <label class="control-label">Average KG/Item (optional)</label>
                <input name="ItemQuantityByKG" type="text" class="form-control" placeholder="quantityKG"
                       [(ngModel)]="cartItem.itemQuantityByKG">
            </div>

        </div>

        <div class="text-right margin-top-20">
            <button type="button"
                    [disabled]="(!cartItems[cartItems.length - 1].fK_Quantity_Id && !cartItems[cartItems.length - 1].quantity && typeApp) || (!cartItems[cartItems.length - 1].salesPricePerItem && !cartItems[cartItems.length - 1].quantity && typeSales)"
                    (click)="addCartItem()"
                    class="btn btn-light btn-round btn-fab btn-fab-mini">
                <i class="fa fa-plus"></i>
            </button>
        </div>

        <div *ngIf="createCartForm.submitted && createCartForm.invalid" class="alert alert-danger margin-top-20">
            <p style="color: white"><i class="fa fa-exclamation-triangle"></i> Error : Please fill required Fields.</p>
        </div>

        <div *ngIf="toggleError" class="alert alert-danger margin-top-20">
            <p style="color: white"><i class="fa fa-exclamation-triangle"></i> Error in submit, please Try again later.
            </p>
        </div>

        <div class="text-right margin-top-35">
            <button class="btn btn-default" type="button" (click)="closeDialog()">Close</button>
            <button class="btn btn-light" type="submit">Submit Cart</button>
        </div>
    </form>
</div>

<!--/************************************/-->
<!--/*************** Tab 2 **************/-->
<!--/************************************/-->

<div *ngIf="activeTab == 2 && !toggleLoading">
    <form #orderForm="ngForm" (submit)="orderForm.valid && submitOrder()">
        <div class="form-group">
            <label>Deliver Type</label>
            <select [disabled]="typeSales" required (change)="getPaymentMethodsAndLocationDate()" name="deliverType"
                    [(ngModel)]="orderObj.fK_DeliveryType_Id" class="form-control">
                <option *ngIf="!orderObj.fK_DeliveryType_Id" [value]="undefined">-- Select Category --</option>
                <option *ngFor="let type of deliverTypes" [value]="type?.id">
                    {{type?.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Payment Method</label>
            <select [disabled]="typeApp" required name="paymentMethod"
                    [(ngModel)]="orderObj.paymentTypeCode" class="form-control">
                <option *ngIf="!orderObj.paymentTypeCode" [value]="undefined">-- Select Payment --</option>
                <option *ngFor="let method of paymentMethods" [value]="method.code">
                    {{method?.nameEN}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Location</label>
            <select required name="address"
                    [(ngModel)]="orderObj.fk_Location_Id" class="form-control">
                <option *ngIf="!orderObj.fk_Location_Id" [value]="undefined">-- Select location --</option>
                <option *ngFor="let location of locations" [value]="location.id">
                    {{location?.name}}
                </option>
            </select>
        </div>

        <div class="form-group margin-bottom-20" *ngIf="dates">
            <label>Date</label>

            <select [required]="dates.length" name="dates"
                    [(ngModel)]="orderObj.deliveryDate" class="form-control" *ngIf="dates.length">
                <option *ngIf="!orderObj.deliveryDate" [value]="undefined">-- Select date --</option>
                <option *ngFor="let date of dates" [value]="date.date">
                    {{date?.date | date:'fullDate'}}
                </option>
            </select>

            <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
            <div *ngIf="!dates.length">
                <button type="button" class="btn btn-info" (click)="picker.open()"><i class="fa fa-calendar"></i> Choose
                    Date
                </button>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <input class="form-control" name="deliveryDate" [(ngModel)]="orderObj.deliveryDate" matInput
                       [matDatepicker]="picker"
                       disabled [required]="!dates.length">
            </div>
        </div>


        <div class="form-group">
            <label>Note</label>
            <textarea placeholder="Delivery Note" [(ngModel)]="orderObj.deliveryNote" class="form-control"
                      name="deliveryNote"></textarea>
        </div>

        <div class="text-center margin-top-20" *ngIf="typeApp">
            <p>Delivery Fees : <strong>{{deliveryFees}} {{currency}}</strong></p>
        </div>

        <div *ngIf="orderForm.submitted && orderForm.invalid" class="alert alert-danger margin-top-20">
            <p style="color: white"><i class="fa fa-exclamation-triangle"></i> Error : Please fill required Fields.</p>
        </div>

        <div class="text-right margin-top-35">
            <button class="btn btn-default" type="button" (click)="closeDialog()">Close</button>
            <button class="btn btn-light" type="submit">Submit Order</button>
        </div>

    </form>
</div>
