<form #deliveryFeesForm="ngForm" (ngSubmit)="deliveryFeesForm.valid && saveData()">

    <!--/* fields for delivery fees */-->
    <div class="form-group" *ngIf="data.type=='Delivery Fees'">
        <label>Delivery Fees</label>
        <input class="form-control" [required]="data.type=='Delivery Fees'" type="number"
               [(ngModel)]="data.deliveryFees" name="deliveryFees">
    </div>

    <div class="form-group" *ngIf="data.type=='Delivery Fees'">
        <label>Name English</label>
        <input class="form-control" [required]="data.type=='Delivery Fees'" type="text" [(ngModel)]="data.nameEN"
               name="nameEN">
    </div>

    <div class="form-group" *ngIf="data.type=='Delivery Fees'">
        <label>Name Arabic</label>
        <input [required]="data.type=='Delivery Fees'" class="form-control" type="text" [(ngModel)]="data.nameAR"
               name="nameAR">
    </div>

    <div class="form-group" *ngIf="data.type=='Delivery Fees'">
        <label>Code</label>
        <input [required]="data.type=='Delivery Fees'" class="form-control" type="text" [(ngModel)]="data.code"
               name="code">
    </div>

    <!--/* fields for settings */-->

    <div class="form-group" *ngIf="data.type=='Settings'">
        <label>Value</label>
        <input [required]="data.type=='Settings'" class="form-control" type="text" [(ngModel)]="data.value"
               name="key">
    </div>



    <div class="text-right margin-top-35">
        <button class="btn btn-default" type="button" (click)="closeModal()">Close</button>
        <button class="btn btn-light" type="submit">Save</button>
    </div>
</form>