<div class="padding-25">
    <div class="row">
        <h4>Add Complain</h4>
        <form #addComplainForm="ngForm" (ngSubmit)="addComplainForm.valid && postComplain()">
            <div class="form-group">
                <label class="control-label">Comment*</label>
                <textarea name="comment" required [(ngModel)]="complainData.comment" placeholder="Complain Comment"
                          class="form-control"
                          rows="3"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Rating*</label>
                <select class="form-control" name="rating-scale" required
                        [(ngModel)]="complainData.fK_LKP_Rating_Scale_Id">
                    <option [value]="undefined">-- Select Rating --</option>
                    <option *ngFor="let scale of ratingScale" [value]="scale.id">{{scale?.nameEN}}</option>
                </select>
            </div>
            <footer class="pull-right">
                <button (click)="closeModal()" type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-light">Submit</button>
            </footer>

        </form>
    </div>

    <div [hidden]="!showError" class="alert alert-danger">
            <span>
                                Error Saving Complain, Please try again!</span>
    </div>

    <div *ngIf="addComplainForm.submitted && addComplainForm.invalid" class="alert alert-danger">
            <span>
                                (*) Fields Required</span>
    </div>
</div>
