

<div class="row">
  <div class="col-md-12 col-xs-12 add-new-order-container">
    <button class="btn btn-primary pull-right" (click)="addItem()">
      <i class="fa fa-plus-circle"></i> New
    </button>
  </div>
</div>


<div class="well">FAQ</div>

<mat-accordion>

  <mat-expansion-panel *ngFor="let item of items">

    <mat-expansion-panel-header>

      <mat-panel-title>
        {{item.question}}
      </mat-panel-title>

    </mat-expansion-panel-header>

    <p>{{item.answer}}</p>

  </mat-expansion-panel>

</mat-accordion>



