<button (click)="addComplain()" class="btn btn-light pull-right"><i class="fa fa-plus-circle"></i> New Complain</button>

<div class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover">
        <thead *ngIf="complains.length">
        <tr>
            <th>Date</th>
            <th>Rating</th>
            <th>Comment</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let complain of complains">
            <td>{{complain?.createdDate | date:'fullDate'}}</td>
            <td>{{complain?.fK_LKP_Rating_Scale_Id}}</td>
            <td>{{complain?.comment}}</td>
        </tr>

        </tbody>
    </table>
</div>


<mat-paginator [length]="count"
               [pageSize]="pageSize"
               (page)="pageEvent($event)"
               [hidePageSize]="true">
</mat-paginator>

