<!--print order format-->

<div *ngIf="(tableType =='actionTable') && togglePrintBackground" style="position: absolute; z-index: -100; width: 100%"
     id="invoice-container">
    <h4>Invoice Code : {{printOrder?.code}}</h4>
    <h6><span>Created Date:</span>{{printOrder?.createdDate | date:'fullDate'}}</h6>
    <h6><span>Delivery Date:</span>{{printOrder?.deliveryDate | date:'fullDate'}}</h6>

    <div style="display: inline-block; width: 40%">
        <div>
            <h6 style="margin: 10px">Customer Info:</h6>
        </div>
        <div>
            <h6 style="margin: 5px"><span>Name:</span>{{printOrder?.customerName}}</h6>
        </div>

        <div>
            <h6 style="margin: 5px"><span>Phone:</span>{{printOrder?.customerPhone}}</h6>
        </div>

        <div>
            <h6 style="margin: 5px"><span>Email:</span>{{printOrder?.customerEmail}}</h6>
        </div>
    </div>


    <div style="width: 50%; display: inline-block">

        <div>
            <h6 style="margin: 5px"><span>Delivery Type: </span>{{printOrder?.deliveryType}}</h6>
        </div>

        <div>
            <h6 style="margin: 5px"><span>Payment Method: </span>{{printOrder?.paymentMessage}}</h6>
        </div>

        <div>
            <h6 style="margin: 5px"><span>Status: </span>{{printOrder?.orderStatus?.nameEN}}</h6>
        </div>

        <div *ngIf="printOrder?.createdUserName">
            <h6 style="margin: 5px"><span>Salesman Name: </span>{{printOrder?.createdUserName}}</h6>
        </div>
    </div>

    <div>
        <h6 style="margin: 10px">Address :</h6>
        <h6 style="margin: 5px"><span>Governorate: {{printOrder?.governorateName}}</span></h6>
        <h6 style="margin: 5px"><span>Area: {{printOrder?.areaName}}</span></h6>
        <h6 style="margin: 5px"><span>Street: {{printOrder?.streetName}}</span></h6>
        <h6 style="margin: 5px"><span>Block Name: {{printOrder?.blockName}}</span></h6>
        <h6 style="margin: 5px"><span>Building: {{printOrder?.building}}</span></h6>
        <h6 style="margin: 5px"><span>Floor: {{printOrder?.floor}}</span></h6>
        <h6 style="margin: 5px"><span>Appartment #: {{printOrder?.appartmentNumber}}</span></h6>
    </div>

    <hr>

    <div style="width: 100%; text-align: center">
        <p style="width: 13%; margin-right: 3%; display: inline-block;">Item Name</p>

        <p style="width: 10%; display: inline-block;">Quantity</p>

        <p style="width: 10%; display: inline-block;">Average KG/Item</p>

        <p style="width: 13%; display: inline-block;">Cutting</p>

        <p style="width: 10%; display: inline-block;">Option</p>

        <p style="width: 10%; display: inline-block;">Unit</p>

        <p style="width: 13%; display: inline-block;">Price</p>

        <p style="width: 13%; display: inline-block;">Total</p>
    </div>

    <hr/>

    <div *ngFor="let item of printOrder?.items" style="width: 100%;text-align: center;">
        <p style="width: 13%; display: inline-block;">
            {{item?.item?.nameEN}}</p>

        <p style="width: 10%; display: inline-block; text-align: center;">
            {{item?.quantity?.nameEN || item?.quantityValue }}</p>

        <p style="width: 10%; display: inline-block; text-align: center;">
            {{item?.itemQuantityByKG }}</p>

        <p style="width: 13%; display: inline-block; text-align: center;">
            {{item?.cutting?.nameEN}}</p>

        <p style="width: 10%; display: inline-block; text-align: center;">
            {{item?.categorySubOption?.nameEN}}</p>


        <p style="width: 10%; display: inline-block; text-align: center;">
            {{item?.measurmentUnit?.name}}</p>

        <p style="width: 13%; display: inline-block;">{{item?.item?.price || item?.salesPricePerItem}}</p>

        <p style="width: 13%; display: inline-block;">{{item?.price}}</p>
    </div>

    <hr/>

    <div style="text-align: center">
        Price: {{printOrder?.cartPrice}} {{currency}}
    </div>
    <div style="text-align: center">
        VAT: {{printOrder?.vatValue}} {{currency}}
    </div>
    <div style="text-align: center" *ngIf="!printOrder?.items[0].measurmentUnit">
        Delivery Fees: {{printOrder?.deliveryFees}} {{currency}}
    </div>
    <div style="text-align: center">
        Total: {{printOrder?.price}} {{currency}}
    </div>
</div>


<div *ngIf="(tableType == 'actionTable') && togglePrintBackground"
     style="position: absolute; z-index: -100; width: 100%" id="ticket-container">

    <div style="position: fixed;right: 0; margin-bottom: 50px; height: 50px;display: block;">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="219px" height="68px" viewBox="0 0 219 68" enable-background="new 0 0 219 68" xml:space="preserve">  <image id="image0" width="219" height="68" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANsAAABECAYAAAAIs0DWAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAo
+UlEQVR42u19eXxU1dn/97l3ksmELcgqBtS5dybBAIIRFNeAOwLJRFEri+Lyq7W1rWttbTXv21qX
1r1atyqKG6KZmQQiuAUXwIXFAjEkuZOyqQhoEsg2mbnn+f0xSybJTOZOQhJ8m+/nM3zIPec859zn
3uc+5zznOc8D9KNTrJhgG1+oKI+WZWUl9/VY+vHTBvX1AI5kuDMyJgnd/wEzDydCsd1suTSrrKyl
r8fVj58m+oUtBort9hP9Qv+AmYeFrhFhhd1suaRf4PrRFUh9PYAjEa6srBPaCxoAMGN2RXNTIc+b
J/f1GPvx00O/sEWB8Hnnthe0CMxc/vXXI3pjHO6MjIwVEycO7Wt+HCkottuHF4+32jqrU6Sqp/b1
OGPB1NcDOBLhqKh6wK2qxwrwDZHXCWiUQLPzy8r29vQY3Ko6V/j9V+VWVFzS1/w4EuBW1Sk+XX8i
I8kyM1r56kmTBjQ0NrzIRM8lQrdQsXJPjTnfU91mmdav2aLAZbOdl0z0WyL8M3SNgEaQdHGux1Pq
UtU5PdU3M5NTtd4jWLggobiveXEkwK2q83UWa4noy2jrZaeqKo0N9esB5ORWVb3X1+ONhX5haweX
oixiFu94we609HG3gPAkERqYpFkOTVvjtCmPCxZFTkV54HD3XaKqg5021cWMAgZIIjT3NT/6Ejxv
nuxUrQ/pLF4BYAFEU/s6LlW9ACy+ZGAi4cjmV7+wRaDQrlwlwC8CkJj5gto9u9xD08fdNnDI0GPy
Ne0jp6o8wYJvAgAG3+FSlAcPV9/ujIyMZojPwTw3dE0XpPc1T/oKhZmZw5ybNr3LjFvCF7ktP1yq
9XeCRQkDgXUt8xHNr/41WxAum3Wx0Pl5RHyAmHF+zZ5dRUlDhuY5VeuTzHxjZBsBvt2pKpJD89zW
rb5VdY7Q/a+AMbhNAYkj+uXpKThttsnwtTgZOK4tPwLCtnrSpAGNjQ0vCObLopUfNhBh6IknYpCi
wjJqJJKHDkVLbR2a932P+h078OOmTWDdeJf9woaABUsX4l+Itu/IOM9fW1POwLhobZn5Vpeqbs/T
tOfblxXb7cPnVFYe6Kxvp6JkMws3R+lbZsnf17zpbZRmZQ2saW5aB8DSoZDYDwANDQ3PA+0EDQCY
Dwu/Bqkq1MXX4Ohzz4F52PCY9Vrq6rC3tBSeJUtQu21rXLr900gAczXtM4Aej15KVaZknAvQh1FL
Qe8kA0vbX3fZrFfqun5H3M6JBnEs54L/Qs3WIElJiCZoQHgaScCQqOXd1GzmYcMw5b77cc7KEhx3
+eVhQdu57yDWb/8ORV948OnX36B6bx0AIHnIEIzLy0OO04mpjz2O1GOO6ZR+v2YLwuHx/LZQtQow
bg5dI6BSMplmzCmv+Hbd9Omzv9+3r5jB57SWU4mZKH+WpnkjaTlt1t+wwCMA7u3WoP6L12zRwBRH
c3VjzZY2YSJOffppWEaPBgBUfFODp0q+gvtzD3btP9ih/uihAzBnmoIbLpyEKdaRSL/4Yow8/XR8
cdNN2L9+XdQ++jVbBPK16luI8DAAEFBhSTbn5FZUfAsAp61f3zRq5Mg5BLwfrL7SnpLiaC9ohapy
Lws8ygCBkN+tAUlSv7BFguN8fAgJ8ctts14MAKNyZuCsZctgGT0aBxtb8POn3seEm17CEys2RxU0
ANhb04DnVm/Bybe8ivkPlWBfXSOS09Jw2osvYqzDAQBw2pSrI9v81wlb0Jz8i1jlDq36Vgl0uyXZ
POPC8vLvIssCAjdqLgj3ZKRY8iP3fHjePLlQVZ4D8x/C15hPKLRbz+jqWEn675tGdgYprmYzPhMo
zMy0C6bXB9szMO2xxyCbzaj6than3P4anlu9Bbou2vYtdZzpD05NxrEjBmHd9m9x8i2vYnP1Pkgm
E076630YNnUqmPGM026fFqbR1wwEAhu5LkU5za2qc1dPUkb2VD/F2dmprs0bncx4qlBRro9VL8/j
+Xt7QQvhtPXrm/K16v+NFLQSVTU7N21aDubr2tcnQf+vy3wRXTOQbMjOTnLalYtKVNXcU7zsDD12
HCmuZjNuICF/y0MmiyXp1GefhWnAAOzafwhn3PkGKvb82KHu1edk4aHFZ7e5dlH28dCeuRZbn7gK
p48fgz0HDuHsP7yJbTsPQEpKwilPPoWUESMaIPxPhNr0ubAV2e1TnTblawFeq7NwNzZytUtVb+w+
5bYottuH++tqPmTGHAAgwt9XZmWN7i7dElUd7AWvBtgRrZyZ53XZv7ELmq00JydlV22Nk3Uu8bLY
61SVv/fkBywSxXb7cKdqXVrZ3LTXabP+pjQn57DaBERcg5Exzea22c5ixuwp992/cUB6Oppa/Jj7
Fxf21zV2qFvws+l44dcXIG1g4LslS4T7rzoTK/6Uh321jZh666t47aPtAID6phbMvdeNHw81w3zU
UZj2+BPbmTGtUFXnAX0sbC5FWeQX+qdgZIauMWOAYPFkoV256nD1s8Jut/p0fR0zTmnthwe3eJv+
0l3aLcC1zHx2J1VSfM0Ni7pCm/TEDCSlWVkDa/bsLgFwMQAwkMbMtzY2crXLZl18eLgZHYU2a75P
6F8zYwEDQ1ng0Zo9u7YW2+0nHq4+pHhbIQYNJIL1u1JGjqg95uKLJwPAw66N2LJjf9S6X1a1usGO
HT4IH993Oe7In4pXPyrHtNtexfZ2mnDH93UoeH09AGDYySdPHWy3fwOIu4A+EjZmJqei/FmAXwJz
9CmHwLPdWe+E4M6wntyi6+sB7uAtzozF7oyMSd2hnwz8i4Dazu+XrjdIri0SMJCsmDhxaK236X0w
z4hynwOEwAtORVlSnJ2d2p37bY8SVTU7VevzEHgbzG1PQzAy/bq/1GWzndJF8m0RT7MZMP07J09O
Y9AM+/+74WsAA3481IwHnV92qHda5hicPSE9/He2MgqbH12AKdaR+PmT72HRI6vQ6I0u+8+s3oId
+w4CgGn8zbfsAOPEooyM43td2EpzclKcqvoag//YaUXmZBLkLMrIOL6rfbkV5UKhYw3AsaZRktB9
d3fnfmZp2kEmeirOvWTFOxoSDSSMTSNXT1JGtjQ1lEZq7qjDAF/lr639ePWkSQO6c88huDMyxngh
PmLGtbH7xFBm8V6R3T61u/1xXM0W3xpJDQdngTkpfc6cQQDg/EzDoca2vs1nZaVjVUE+Bqe26oEJ
xw5HTb0Xp/3udWzbdQAbH17Q5jd3mhKu6/Pr4anl6LPOGgMAQtfzelXYSlR1RO2e3R8CfIUx5vJw
XfevKFHVwUbqt4cg3MCMTl8sZjjcGRkZ3bkvOcXyOBF5O6vj92NWwoQNaLYSVU1vbOCPwTA0XWNw
dkNjw2tcUNCtZ1+kqqfqft+GeAIOAMw8SBf666VZWQO70yfF1WyIayBhxukmi8VvHjbsBABwf661
Kbckm/DHy07BQEsyhg2y4HeXBIyJH2/bg+xbXsFX1fvh+a4Of33rc+zYV4e6Ri/++tbn+He7aWiI
rmQ2Hz9g7NgfGOL0XhO2QpttvBficwbMRNIMInrTSDtmPqEZvKwrp6NZ4r8bqCYJv//O7txb7rZt
3zOwrPP7oNMTHr8Qnb48TlVVmll8ykBiHwvmua5XXu7yetWtKDP8LD4EcLTxLlmp8TY/0tU+AzS6
r9kAGmNJTz8AQAbQQUiaWvwo3bobAPDUDedg4rEBL5J127/FwaAG3FfXiLfXVaF8z4/Yuf8g3l5X
hZ372u7HbdnR6qU38HjrAYDG9IqwOe3Wc0jo65hxvCzhbw5NW5NXpV0BopcNcvlC11ebEn5Q+ZXV
nxLh87jkCfOLs6zjjNAEgGhagST5yc7aEHPCa0PqRLMVqWoWs/gEwLGJ0g1Sv73Ybs9MtJVbVacI
4mLEcqnqnAfXdstgEm9NRkYMJDxmYPrYmtBfe2saY9b8cMsunHf3W10aqtfnx4+HAid+Bh53bD0z
97ywuVT1OghaxUAaAAiBn5dlZSUTEQ9NH3stEbmN0GHBN3W2GR0TJP8tPnFO8rdQXM99Zia3qs7d
WFzcQcs6Kiu/AGhbzLZE1oTHLvujvjxuRVF18Edop1kI2BpvOhtxLyaf7jei+cMozs5OFeDl8abm
MfsEyK/rXV4jc1xHYwPWW4bFNHCAHwB8fgGfP3aTsyeMxZyItVgIyug03HPFdJiTZNTUN+OeK6Zj
srVjpIymlsBwTQMG6gBZekzYghbHBwSL55jZFHE9p7K5eQkz04w1a/xm0OWxnHyjMPNxl91+biLj
yJs/30lEnvjjxeL3sq1DYpUXZ2enulT1BchyxckbN/qijg5Y0kkHSc7Jk9MSGTvppqhvAhNdFjVG
ClE1m5ImEeELg11c7LTZJhsdj6itHcPMHd4+ItoNoiJjVNjhVhQ1ET5EdBRHmAxoNsJ39bt2DQaA
JJOEYYNjK2ifX8efLu8Y0sRiNkE5eggumHIc5k5ToBw9BIMsbY3qRIRRaQHDb8POHRYQf9djwuZW
1acYHNXrncE/c9lsDwPALE3zDk1JyTXygjCziXX/8kQMGlRQIAj0cNyKzAPrD+LqaEUlqpruq6v9
BISMudu3V8YiYUrh5Z11YfF6E5p6kSxHFzaI6THu4bzRQ4futpstZxpeEwtheP9NEEWN18HMx6SA
FoJoeTwaDJBOfGUifAjz43BsajN92/jNN+FzM8eNjG17+/VzpdgQ3GfLPUXBiCGBx7dt5wEsemQV
ir7w4JOvv8GiR1bhk7Jv2rQ9ZthAmOSAeDXs2pVGTN/2iLCV5uSkMOG6zuowi986bcodADCjrKye
TcmzQFQWl1dAmtD9KxLxypCHDFlCRD/ErSjQYZrqstlOaWbxJZhPYubpLpvym1jN55RV7yKizbHK
vbIskACErkefNjEmxOBN6r79+xdnlZW15E056UoQrYrbCeFnzNzd+KGSHzghw5yygIBPDNT/WZc6
iXu+L767FhNXeA8cGCBaWr4BAm5XHeoEPyl1jV48+27gnNr4scNQ+pfLMHKIsW3KEF1mPlRbUXEM
iCp6RNhySku9AOriVhR8v0tRFgFA/vbtP8iy6Xwi/Ccuw5jVlqbG14xaKOds3NhIoCfj0gUyClU1
7A3iVtX5QuhrAES4ddH9nW3SEqEkVpnKXIMEICUlRf9SE8W0AjL4znXTp1to+XIdpqQFAO2Lw8wR
RZmZExMZVzTozKdnlZW1WJLNlxNRpwdmwcgsUdV0g6Rbbzuu+1p8zSZBKgKAH778cgcA5J/acfuT
onx6NlTtxQnjhqH03nnh6eGHW3bB9ZkWtZ/86YGZcr2mfc0+nyQxF/WIsBERMyOu9ZABYsK/nHbl
IgAIHGeRzgMQP1Qc84XOzZteMLpflAz8AwYCwhDEdcEIV38NBppJadstm1noq5yKkh2tvYD0WQzK
+xKNpExeb4eXZ9306RZmjulgzMxjv9///RNA4ANGQNw4KUL3Jbwt0aFf8OUAcGF5+XeShJvi1W8h
cVbCfcRzzDZg+s/TtK8Bqqp89pkRADDZOgKzp3a0XTU0+7Dj+1Zz/m0vfox/rNwMiQj//MW5sCSb
8OGW3XB/3tEcMM1+NC6YchwAQHvxRTMIPw4eO/aTHluzOU466X4QlcZlILMJgpeHjiI4NM0jJeF8
AuJrAeZFrldedq3KyjoqXtVZmrYfoJfik8QlLptSxIzfx6wDpDH4A5eqXtq+TDabv4zWhoi/SpSH
ktnc4eWZnp7eQkCnsQ6Zca1TUR7gggIpKTX1BQCi8/qU8BZAFEwNGT5yKz1vxN1yETQ54R7iaTZD
pn8AEp7bt3atvWnv3s0A8MBVZ8Gc1Ooz/e2P9Tjr98uwdWergp4xcSw+/fob3PP6OrzxyXbMmWbF
ZWfYcdkZdpysjmolLREeuiYwOfLX11fseHPZZAK9OGPNGn+PxvovzMwcRn7fZ8wc1/pERAfYlHR6
ftAAUaSqp+oQ7xsxMxNQw4QlBGk/M0sgliVIMohlZpbAJIMgg3E8g7t3oLNj568mS6a7Z1dWVgOh
uI+KD8FN0+D4vpdAZ+R6PB3mHE5VzWEWUT9Kg9KQdt7G6g7T8ULFWotYoQHa4kuS8AiY/hzNihjB
+0MAvo9HjJmT0Nm+Hkkv5mvaNQDgtCsXsc4xp9Sx+2SZGcdHabApBTRjlqYddCpKCYMv6vgo6FmH
x/PzePdRmpOTUrt7V8XQiRPFWW8XHkeShFfWlGPRI+90qHvd+RPx7C/Pi0mrtr4ZU299DZ69tQCA
vy0+G7fmBSY9X9x4Q9m37753jCXFolxYVvZjjyfWKLbbM/26f31on60zELDDkmw+LXSWzGW3nyuE
vjKms3IPgYi8nU3VotT3g/EeEa2AJG1loa9g5sHBe6o1yaacOZWV/47WtjNhGzBg4MALtmxp6NhG
WcvMp/UmTwxCyKakKbkVFVu4oEByvrJ0F5iP6S5RItpsMaece2FZ2Y8AEEvYQHgyX6v+lRGaTlVd
wCyW2q67HhPuDDgQ/c25AXe+9AmYWycOJ6uj4JgeW1es2rQjbIm8zXEyHrw6MDuuev55bLv/PhDo
NofH81BgeL0At812nmBRErnfFpuz+PegITg79EUvtFnzIfAmIjRFN6GDSI8pwET7iXERCEuZeXx3
OiKgUTLR+bkVnrWx6kQTtsDGNF3n0LRXorVxqer/CBbdcqDuKRBQIZmSpuZWVBxyqtaH2sR97Ao9
wlcWs+WckKABMYSN6DM5xZKXu21bXA0dpqNan2fGtSc9+CCOzQ9EeS/6woPFj61GTb3xeK8DUpLw
j5+fg6tmngAA2LumFOuvvx4AihwLFjqooEAAvXTEJhASmn9tqDLjxPo6coVOGedXVRdKEq6Pt04x
BMJ2kk2ngbEyejF2wZR0hsPj2UigmxMl35YY+STQJZ0JWoyG+xg0I5agBbEMSCzeRm+BgQzd739n
xcSJQwnS+m6S28Km5HMjBS0aiPDa0PSxMxIRNACwmy03AsCmO++E56UlAIC50xR4nr0Wd+RPxeDU
zic3qeYk/OKiE+F59tqwoO1yufD5jTcCzBhqTpkfEjSgl/OzOW3K46GIwnFBeMuxYNHlocG6VPVm
wSL+5nR0CBAeG5o+7g8z1qxpdqnqdYJF2wQMhO0pkM6bpWl7QpdcqvU+weiKk7KQQFfmeTzL4lWM
1GwEbE1ONs+5uLx8Z9x2ivIMg7scciFx0BsgehrgV8Ac12xPRLsZ/BQY93WpN2CrSTbNjBZ3M6TZ
CGBIdLejytNlp+rIxBrjLrkUE++6C8mDAxvdPr9A6dbd+LhsD775oR4HDjXhqIEpGHPUQJyWOQbn
TR6HlOTAZM3f1ITyRx+B9q9/hWm3T6zRq8LG8+bJrs2bVjLzBYYYLtETjipPWCM6FeXPcc/BdSBC
1TJJi3Orqj4OXXJnZIzR/b7wlj+BNphk+aL2D5aZyWmz3QcWv0uoTwm/yK+qftpI1ZCwEWGFJCdd
mVtRcchIuxJVHeENePzbExpbl0D7UlNSxl9YVvZjIDI0DnvYinb9bUshmhmwIEfhWUDYciSSFuVp
Wtc8hYNon8UmacgQZPziRlgXLICckhK3vfD5sPPtt1D+2GPw7m873D4VNgB4L9s6pL6O1jHzCYYa
kJSTr2kfhZmjqveDxUxDTYk+TzOn/H5GWVl9+zKnat3MjMkgKpVlU25nL3mhquYS+O/GrKrSHxya
Zvhr7lTVHEDMyVuw6PbIKYcRrJ6kjGxo5HeNnmXrKmSZfpZb6XkDCHj96yw29VhnRGUDUjHzgi2e
mJvxharynCzzM7kV1Ru6212slFFySgpGnnkmjj7nHAy0KrCMGhUMP16L5v37Uf+f/2BvaSm+/2gN
/PX1UWn3ubABwZggQv+cmYfHqysR7szTqg97xhiXoowlk2lokq5XtI/9GA0bsrOTdtXV5RHEXGac
S8CoDpGMJfp7fpXn9kTGUZqTY5qxZk2Xw2aXZmUNPOj3xz1RQLqe6mfRuoYiPCLLSUvitZMlv5hd
7mlzmsGpKi5mzk10rIGpJV0uy3JDrDqpA307o213HE6eRaI387P1WU5tl91+phD6+/HM+rKJzkjc
yNDz4Hnz5KLy8uHw+dIkZhJEnFtRUdHX44qFYAz9QwBAoL84PJ4/dZWWS1HGCvBWGNvrC4DwI0g+
I7+qqryveRGJ3hS2Tk3xbkWZwUQ9s8clBAhYxsDCWFUkkn6ZW6FFFTSXzbqYWGrJ1bRX25cxM7lU
9X4Abzo8no09MXxavlxHYFM2IQtYXyPRaW405Hk8uwtttgVgUYjARnfnfQKNxDQnTzuyBK23EVWz
8bx5snPzpqejBR3tvYHRTQ6P5x/Rypyqei1YPMcAE0lXRZrJgwc8nxLgGwiokUw4/3DM7Q8XSlQ1
3cv8DIN7JS93CASSQPyKQ6t+9HDRdCpKHggvhTbwo3dMLQSa49C0d3vzfo3CuGajtUmy/Euf7n8Z
gKFT93GnkaU5OSm1e3a/zsx5fcUASaLf5FV5omaVcanqdczi2Yj1kpBAi/M8npcDrlLqPwEOu+wQ
UCuZcN6RIHBum+0sXYjlnUT76hEQwCTRL/KqPM8cbtorx48/tsXn/QcYF7dfwwY9a+Y5PB5Xb95v
IjAkbIS3hqaPWzhjzZrmQFBesZwZ58dr1qmwBS2F7jhBR3sURLg51te3UFGuJ/AzUVIsCUnCdSzo
1Gh7TwTUyrLp/LmVlVGdhHsDTkX5FQiPGPKiObzQIdO1+ZWeuE7Y3bq/zMzj2OebD+KjATITYCYJ
zrxKj7OX7zchxBM2IjycV+W5jSIOzpbm5Jhq9+x6urMQfkAnwrYyK2u019u0qqfNyJ2CpFvzNS3q
xnVpTk5Kze7dW6IFWw0whTwMjALzwOjleM2hVc/v7VsqUVWzl/lpBl/d230TkZ8YC4xsrv+3ohNh
EwT6rcPjeSJ2W+UuAv85Vn699sImAYGQaF5v89q+FDQC3RZL0ABgxpo1zSlEM4lIi9J4e7I55QxZ
xoVBb/K2xYRiu9nSo+G3o6FEVdObWXzSF4IGohYGXdovaF1CE4Eu6UzQACDf47lXImkhiAydU5Tc
qjoFLNaCOfHoT4cLEt0R8ozuDLM0bY9JknMAqgpdI6Jys9ky4+Kysr25FZ61xO0EjqjIbrZcmujB
ze7CZbef2cy8EUC3IwF3AU0SaG6+phmKXNaPCBDtN5E00+g6M2ANJ0PnL8lls51CQJciDh8O6Mz1
+ZqWkMOqOyNjjPD7SkHkl1IsM9s7oBaq6nQCrwJQOnZI2rxY0bB6CsxMLpvtbIkorlm8JyAR7Z5T
Wbm9L/r+qaHtNJKqiOgih6bFjcbWHsV2e6Zf+Esiz+IdMZva3YU7I2NMitnvj+XWU6SqWWOGDKns
bUHrx08LIWEjovUmSZ4bzfHZKFZPUkY2NnIxM6YB/4eErR/9OBwoVKxMoMK0sWPnz1izxvghthgo
zs5O9dfVvsrMee2FrR/9+K+GU1Uf6W6SkfbgggLJqSiP9vW99aMf/ehHP/rRj3704/8Eoi7g3Dbr
xQxKBwAhJ72Vv317/NDdEShU1bNBYjwAjBs89F+9YRF0qupCJjFAIuzKq6yOGUKtUFVzQeJoSVBN
VzZ8i+32E3XWTwUAmeTPYkXN6tBvZuYw6C3zAEAGdudWVXeIgxIKA05RYuo7VXUBkxhILDU4NG2p
0fG6VHUOiMcAgCkl9c3ZW7cmFJU5hCJVzdIh5jNTJgGDQbyDCB+mDx663OjzLbTZZgN6OoGaHVWe
JdHqlKiquZkC+QckMpXlVVZ2Gs583fTpln0H9gVylgtszfN41iVyX05FeZEp4NxBYL9Dqw67YBVl
KDN1nW8GkEyEN/Kqql8EgEK7chUE2hxglkBvpZjNaxu9TU4C6hjS0nxNa5P7oIOf3upJkwY0NDa8
EXJ7IuEbCCDuhnMkCGIhi4Df2Df19a8C6HFhY4hHIXCUIGopzMycmB8lAYY7I2OS7ve9DYYswDsR
J4FhNPiF/kAorAOT/10AhkI8DB09uqF2z+5HmdmsAzuBtkGHnIryK6eqPAEATrv1XEdl9QehsuBZ
tJfAkAAuAWBI2NwZGYOE3/cGM1IBwN/caAbwuJG2bcZmU/6oM9/DDBPAgchLHAgGu6uu5k9uRZkT
LSZme5AQv2XgHCb+ETEy/giLJRWNDf8EAAH9GcTJHVBz8OAQITgYgoIeB5CQsDF4EYBCYtoOas2H
FzgsXOuWmF4B0TZmEc7fJwuq0cF7CLicwfUArWTgkJcoiYA6M6R5zcwbNmRnuyI/RB2sMI1NDfMi
/QuZ0OtuTl0DBcbMnEx+X9QXSuj+xxAKiUcYlGgPJaqazszhiJ3MONelKGONtJ2xZk0zM0Jn845d
mZU1uk0F4lYvcp3aeJQfbG6eiuCzYqIPYBC6338FA+FMEIL5mkTv2Wm3ngPB/8vMJiI0gPAqEV4I
u80xbJBxcqJ0jygwfQuiCrT7iBGzn8ETwHzADOn+0PVcTSvK1zx3gVFBwIZ8zXOXQ9PWhJpJSUlH
gUDZVmubMBcdTZ4i+ECIAlGmmLNCocGPVGzIzk6KPPHNzBcUqmqbY/uFqjqPmXMiWJlwfmcv8dUA
JAK+JyI/AIklXJUAiXAeupbm5nDir9KcHBNArWOLFDwAgihcV5bl9412RqEPZfhZ4sRiVT0pkXsm
nS4NOdpKkM7M16oXOLTqa/MWLMyARHeQJF8eik/yE8ZMBl8DicPBkwIaic4F0bcMfsHLvDbeFoEw
mbxgamnytTwgk3Rj8IBxGG0auxVFZeDMIJt/RYQGAGBdT/iL2Js40NzcQUsRxCOlOTkpQGBeDxZt
M5AyJ2/IzjbsTsXMBA7kb2OJlgIIaBjG1UZTLpnaaqVwjrWab3edysyt98A4cfUkZWTrnxwQNqL9
c7dv32qkr2K7PZOZpwOABLoRQBMA+MEJzVQEMCr8X1kOTxWpoEDkV3n+5qiqejsRekciJKL/cSxY
eG7elQtXh64xMxGgpqWPnQ+SbmBw9uply0Z1RicvL++gZLHcKKVYbofZ3CFERhth08NTRtrnmDJl
BTiUTZKvWDd9esI5lHsLPjRFaqmVAWbh+Npvdt8OAHv3f387AjHqmwAKf4WjCWksOG22s0Lx8kng
DRDeCPTDistmM3T+b1B6+gYiOggATBzWVpKQQlPTnUAgu09TE4czrBJzIEUV4wOKkZCwPfTWD+R3
uQsWrAQF+QK+MhQA1whIQijfnKTrfrfTbp92GPK5HVEQLJY7l76sO5e+rBepahYAFNtsJzDhyZrd
uw4A/BwRikNh8WPh3cJCi97UdF3o1748LGxBFRmw6hAvp+XLdSYKGRCG7N+///AmpDiMYK/UKjQk
vUSgdwCABf++0G49gxi/AwAiPAAgHCmqnZDG6yX48lKVw+PZOHAwO0NHK9igtghEhOKPAizGyYHp
I8AIrAOJpCVEVB4Ye2Dd5szMPI6D2kUyuF4rzckxCfBCACDQm1RQIIjkwEeGcZQXMBwZKykl9R/h
HG/MM1j3f+6yqfudqnWpU1XjnlaOBgINdqrK2mg/X1ND/ASOhxFEkl0G2UI/xWyuAoC5mlY2asTI
sZJsmiOBpju06rnt21qSk69LTaU/hP6+YMuWhnyP597Qr339sLAVLV16fjjSrRT4aqcAqxBMaqh3
YXHdWxDUuv6SmQ8lyfKvEMjFZiFB7zOQSsCOtPRxD0gSwsdvdK9kSNjcGRmDCHwJABACvAmGW1sF
AMR8qTsjw6iW/BAIZAk9uGfPxPeyrUOYeRoAENE7HDitABDOAwBJ+MIakE0mQ+u1uj17LkIwgSNJ
0usAMGr48BIQBQMcGn+Ws7durUmW5ekgCuedY+ZhzFjALFYXKsrrRpNSRrQ3MfNp0X/oVfuAQ9M8
uR6PFvpFHsU6bf36przKyk9yNS1qNtkLy8u/6yy+ZXuEhU0nhAwj+0lK3lOcZR2nm8UoIloDAASe
4czMPK43GWEUTHpYaHSZ62dXVlaTRH8FAskLAyV084w1a5oFU2tETSJDAsK6fnkodZUErCvOso4r
zrKOA+gjICA4rOuXG6FFJoS1EwPTGw7RTAAyER3InT//S4K0KjjuMUWqmiUEnRIca7Vj+/Ydhsbb
Kkx7k0ymvcVZ1nE/HPx+BDigVZn5vEQyf86urKzO1zzTIcknSIQ7QXgP4ZxvfIVr88aEolQTkZcI
T8X4vZAIrZ8STACwKivrqCZv89zA/gmPYF/Lf3zh3QEO/Uvk918NoKCvB90eLKSBoWefBNMhADAz
PegFL2DAToR3HVrgMCAB9aFFT6SQdko/Ypqog9/Rw77hIrLONQCej0crt9yzzamq+wAeyeBTITik
bVZRQYEoUdWPvEAjA6kCOD9kHCGGIa1WoqojmsEXB/8c7W3x7ohSTWpmvgrAvUZohhCM+VgO4IEV
45UJLT58COYRzFgM4H8MPy9wQ75W/ctoZSsmThza0tjQq7OoYrv9mKMHDdrXfnPeqaqKCRgyR9Pa
RIBemZU1mn2+VABokaS6SKePlePHH9sSXNPmlZfvjFxjSwDQ1Nw830g+MmZh2PLWmyC07pn5hagH
gFma5iXZdB2BXmJTcjiZB0kirNkCQto53BkZGUZyoTHz9GK7PW4GzyDzA1NJxqkABddreCc0biAw
mxDMswmYEmxoaL3WDCw0FMuRsNjos4y2lxiIkkwrgn8eW5qVlfBWSl+jLCsruVBRCn26f+c39fVt
IhUUqmoumJf5mf/iVK33RJZ5vc03tQj9eZ/wvy/5W26LLGvxeZ9gv+91+H1b3rHZ2sRcDUwjKby3
Vp2cOuCo9j+JKJTx5VhXhmIozn5vgkmEH3RqKofXZHmVlZ84PJ6r23qTmMLlkUIaC8LvD39lSZKn
tOeNLNPPQuV+XTdqVg/ut7EtmD9ACDl5dUR5MAUmz2RmMwFskqQPDVHmgBYmoDLaswRJLwaqseK0
2eLmtXaqaoEAVzhV9bLI68G9zUDIB6L90fIpHOnIKitrIUn6XyJ0CORLEOcz0Z9TBwyYF9TcYeRr
nrvyNc9MBtXISW2nvXaz5VJiNDBJV7YPa29y2myTWeiTAx3wsmi+cy67fSl0//UAAIFrABj2YhC6
v8ipKFFzieUtXHh+oskkokESNFAEp7stSWmdPnQSEZotQkijgefNk52bNoasehsdVVVfta9ToqpO
HVwHYAiDF5Xm5NwVLw59six/0KJHVCH6InIqIgGr2jCM8G8jJ4iL7Papft0/IUBSeiPas3QrylId
gZeHAoL5USx67gzrybpf/AmAxCyWFSrKrwkoJSKxq64mF8CEAKNQ2KUHdwTAUVX1lVONFn5HWk7g
5xobG/YRdXSACKQxxs455dVVkde15uZxIK6EEA+XqOrHszTtYJgiIFq/3Ca8Hm1AuRUVn4a8EJiR
/1621XCMd2bOYfA50X4oKzs8U9JWQ4eYs3FjY2dVpaRWYZNE514kzq++ugjA0cE/o/JmlqZ5QVLo
ZRsdtAR2itmVldUE7GgdPto4Tud6PBoRheNgMJGh9ZqIcD4QRFG9OuYuXPgRgMB+EXVuRc2tqN5A
knwZAbXBkZzO4D8KFneHIrERaENSWlq3soseicibMuUT05C0E0mS7wTjqw4VdPyKiDqkBZNTU39w
aNU3EsHfYhJt8o+bwGgh0BIQ1eZt16J6JxARu2zWu5npLABoOiTbAcQMeEqEtWCKbw7OymIsXx63
WjwwUEagJRQw93cKMg04QC2NS4L3VdlpXYjhAC0BAJMsx3RJIkl6Gnpw/UMibmaeIPEHiWlaYPzS
Wx2L6X4ApwOAJLEhh2kmaibGEhB+cMRIYEEFBcKlqncz8+lgQNJ1G4CYKaAcVVVvuydM+FRvbvw5
Mc0F2AoiAeZyIumNIenpzxjNKMMSVpOg3QBizj6SiFp8QZ6TAadi8nobKVRf4s8N8T4CLtV6HzPS
hO5/HUDYlc29efO5zOIxBryyKalNPopAMGMenrdg4fsoKAhfd0+YMMrX2LjSqSqpDPos74qFZZHl
/x8MAVYUJuVrawAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNC0xOFQxNjoyNjo0MC0wNzowMHm7
AlIAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDQtMThUMTY6MjY6NDAtMDc6MDAI5rruAAAAAElF
TkSuQmCC" />
</svg>
    </div>

    <h4>Invoice Code : {{printOrder?.code}}</h4>
    <h6><span>Created Date:</span>{{printOrder?.createdDate | date:'fullDate'}}</h6>
    <h6><span>Delivery Date:</span>{{printOrder?.deliveryDate | date:'fullDate'}}</h6>

    <div style="width: 50%;display: inline-block;">
        <div>
            <div>
                <h6 style="margin: 5px;"><span>Customer Name:</span>{{printOrder?.customerName}}</h6>
            </div>

            <div>
                <h6 style="margin: 5px;"><span>Customer Phone:</span>{{printOrder?.customerPhone}}</h6>
            </div>

            <div *ngIf="printOrder?.createdUserName">
                <h6 style="margin: 5px"><span>Salesman Name: </span>{{printOrder?.createdUserName}}</h6>
            </div>

            <div>
                <h6 style="margin: 10px;">Address :</h6>
                <h6 style="margin: 5px;"><span>Governorate: {{printOrder?.governorateName}}</span></h6>
                <h6 style="margin: 5px;"><span>Area: {{printOrder?.areaName}}</span></h6>
                <h6 style="margin: 5px;"><span>Street: {{printOrder?.streetName}}</span></h6>
                <h6 style="margin: 5px;"><span>Block Name: {{printOrder?.blockName}}</span></h6>
                <h6 style="margin: 5px;"><span>Building: {{printOrder?.building}}</span></h6>
                <h6 style="margin: 5px;"><span>Floor: {{printOrder?.floor}}</span></h6>
                <h6 style="margin: 5px;"><span>Appartment #: {{printOrder?.appartmentNumber}}</span></h6>
            </div>
        </div>
    </div>
    <!--<div>-->
    <!--<qr-code [value]="printOrder?.code" [size]="50"></qr-code>-->
    <!--</div>-->
    <div style="width:40%; display: inline-block; text-align: right">
        <qr-code [value]="printOrder?.code" [size]="150"></qr-code>
        <div>
            <h6 style="margin: 5px;">Payment Type : {{printOrder?.paymentMessage}}</h6>
        </div>
        <div>
            <h6 style="margin: 5px;">Driver Name: {{printOrder?.driverName}}</h6>
        </div>
        <div>
            <h6 style="margin: 5px;">Producer Name: {{printOrder?.producerName}}</h6>
        </div>
    </div>

    <div style="width: 100%; text-align: center">
        <p style="width: 13%; display: inline-block;">Item Name</p>

        <p style="width: 10%; display: inline-block;">Quantity</p>

        <p style="width: 10%; display: inline-block;">Average KG/Item</p>

        <p style="width: 13%; display: inline-block;">Cutting</p>

        <p style="width: 10%; display: inline-block;">Option</p>

        <p style="width: 10%; display: inline-block;">Unit</p>

        <p style="width: 13%;  display: inline-block;">Price</p>

        <p style="width: 13%;  display: inline-block;">Total</p>
    </div>

    <hr/>

    <div *ngFor="let item of printOrder?.items" style="width: 100%;text-align: center;">
        <p style="width: 13%;display: inline-block;">
            {{item?.item?.nameEN}}</p>

        <p style="width: 10%;  display: inline-block;">
            {{item?.quantity?.nameEN || item?.quantityValue }}</p>

        <p style="width: 10%;  display: inline-block;">
            {{item?.itemQuantityByKG}}</p>

        <p style="width: 13%; display: inline-block;">
            {{item?.cutting?.nameEN}}</p>

        <p style="width: 10%;  display: inline-block;">
            {{item?.categorySubOption?.nameEN}}</p>

        <p style="width: 10%; display: inline-block; text-align: center;">
            {{item?.measurmentUnit?.name}}</p>

        <p style="width: 13%; display: inline-block;">{{item?.item?.price || item?.salesPricePerItem}}</p>

        <p style="width: 13%; display: inline-block;">{{item?.price}}</p>
    </div>

    <hr/>

    <div style="text-align: center">
        Price: {{printOrder?.cartPrice}} {{currency}}
    </div>
    <div style="text-align: center">
        VAT: {{printOrder?.cartVAT}} {{currency}}
    </div>
    <div style="text-align: center" *ngIf="!printOrder?.items[0].measurmentUnit">
        Delivery Fees: {{printOrder?.deliveryFees}}
    </div>
    <div style="text-align: center">
        Total: {{printOrder?.price}} {{currency}}
    </div>
</div>

<!--******************************************-->

<div class="row" *ngIf="canAddNew">
    <div class="col-md-12 col-xs-   12 add-new-order-container">
        <button class="btn btn-primary" (click)="openCreateOrderModal([{}])"><i class="fa fa-plus-circle"></i> New Order
        </button>
    </div>
</div>

<div class="material-datatables">
    <table datatable class="table table-striped table-no-bordered table-hover">
        <thead>
        <tr *ngIf="ordersInCurrentPage.length">
            <th>Code</th>
            <th>Customer Name</th>
            <th>Delivery Date</th>
            <th>Created Date</th>
            <th>Payment Type</th>
            <th>Delivery Type</th>
            <th>Status</th>
            <th>Type</th>
            <th>Price</th>
            <th class="disabled-sorting">View</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let order of ordersInCurrentPage; let i = index">
            <!--<td><img [src]="customer?.picturePath"></td>-->
            <td>{{order?.code}}</td>
            <td>{{order?.customerName}}</td>
            <td>{{order?.deliveryDate | date:'fullDate'}}</td>
            <td>{{order?.createdDate | date:'fullDate'}}</td>
            <td>{{order?.paymentMessage}}</td>
            <td>{{order?.deliveryType}}</td>
            <td>{{order?.orderStatus?.nameEN}}</td>
            <td>{{order?.orderTypeObject?.name}}</td>
            <td>{{order?.price + ' ' + currency}}</td>
            <td class="td-actions">
                <!--<pre>{{(tableType == 'view' || tableType == 'actionTable')}}</pre>-->
                <!--<pre>{{(!!typeSale)}}</pre>-->
                <!--<pre>{{(!!order.fK_Order_Type_Id)}}</pre>-->
                <button
                        *ngIf="(tableType == 'view' || tableType == 'actionTable') && (typeApp || order.fK_Order_Type_Id == 1) && !isGuestRole"
                        type="button" title="Info" rel="tooltip"
                        class="btn btn-warning"
                        [routerLink]="['/mawashi-crm/orders-app', order.fK_Cart_Id, {type:type ? type : order.fK_Order_Type_Id == 1 ? 'app' : 'sales'}]">
                    <i class="fa fa-info"></i>
                </button>
                <button
                        *ngIf="(tableType == 'view' || tableType == 'actionTable') && (typeSale || order.fK_Order_Type_Id == 2) && !isGuestRole"
                        type="button" title="Info" rel="tooltip"
                        class="btn btn-warning"
                        [routerLink]="['/mawashi-crm/orders-sales', order.fK_Cart_Id, {type:type ? type : order.fK_Order_Type_Id == 1 ? 'app' : 'sales'}]">
                    <i class="fa fa-info"></i>
                </button>

                <div *ngIf="(tableType == 'actionTable') && !isGuestRole">

                    <button type="button" *ngIf="isSuperAdminRole && isProducerRole" (click)="moveToNextStep(order.id)"
                            title="Transfer"
                            rel="tooltip"
                            class="btn btn-warning">
                        <i class="fa fa-exchange"></i>
                    </button>

                    <button *ngIf="isCustomerServiceRole || isSuperAdminRole || isSalesRole"
                            (click)="printInvoice(order)" type="button" title="Print Invoice" rel="tooltip"
                            class="btn btn-info">
                        <i class="fa fa-print"></i>
                    </button>

                    <button *ngIf="isCustomerServiceRole || isSuperAdminRole || isSalesRole" (click)="sendEmail(order)"
                            type="button"
                            title="Send Email" rel="tooltip"
                            class="btn btn-success">
                        <i class="fa fa-envelope"></i>
                    </button>

                    <button *ngIf="(isCustomerServiceRole || isSuperAdminRole || isSalesRole || isProducerRole) && order?.paymentTypeCode.toLowerCase().indexOf('cash') > 0"
                            (click)="openCreateOrderModal(order)" type="button" title="Edit Items" rel="tooltip"
                            class="btn"
                            style="background-color: #0d47a1">
                        <i class="fa fa-edit"></i>
                    </button>

                    <button
                            *ngIf="(isCustomerServiceRole || isSuperAdminRole || isSalesRole) && (order.deliveryType.toLowerCase() == 'home')"
                            type="button" title="Change Address"
                            rel="tooltip" class="btn" (click)="openChangeStatusModal(order, 'address')"
                            style="background-color: #00e676">
                        <i class="fa fa-map-marker"></i>
                    </button>

                    <button *ngIf="isCustomerServiceRole || isSuperAdminRole || isSalesRole || isDriverRole || isProducerRole"
                            type="button"
                            (click)="openChangeStatusModal(order, 'status')" title="Change Status"
                            rel="tooltip"
                            class="btn btn-danger">
                        <i class="fa fa-tasks"></i>
                    </button>

                    <button *ngIf="isCustomerServiceRole || isSuperAdminRole || isSalesRole"
                            type="button"
                            (click)="openChangeStatusModal(order, 'producer')" title="Assign Producer"
                            rel="tooltip"
                            style="background-color: #5d4037"
                            class="btn btn-danger">
                        <i class="fa fa-cogs"></i>
                    </button>

                    <button *ngIf="isProducerRole || isSuperAdminRole" (click)="printTicket(order)" type="button"
                            title="Print Ticket" rel="tooltip" class="btn"
                            style="background-color: yellow">
                        <i class="fa fa-barcode"></i>
                    </button>
                    <button *ngIf="isLogistecsRole || isSuperAdminRole" type="button" title="Assign To Driver"
                            rel="tooltip" class="btn"
                            (click)="openChangeStatusModal(order, 'driver')"
                            style="background-color: grey">
                        <i class="fa fa-truck"></i>
                    </button>
                    <button *ngIf="isCustomerServiceRole || isSuperAdminRole || isSalesRole" (click)="sendSMS(order)"
                            type="button"
                            title="Send SMS" rel="tooltip" class="btn"
                            style="background-color: darkblue">
                        <i class="fa fa-commenting"></i>
                    </button>
                    <button *ngIf="isSuperAdminRole || isDriverRole || isCustomerServiceRole" (click)="openMap(order)"
                            type="button"
                            title="Open On Map" rel="tooltip" class="btn"
                            style="background-color: lightcoral">
                        <i class="fa fa-map"></i>
                    </button>
                    <button *ngIf="isSuperAdminRole || isSalesRole || isCustomerServiceRole"
                            (click)="changeDeliverDate(order)"
                            type="button"
                            title="Change Delivery Date" rel="tooltip" class="btn"
                            style="background-color: orangered">
                        <i class="fa fa-clock-o"></i>
                    </button>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<mat-paginator *ngIf="ordersInCurrentPage.length" [length]="totalOrdersCount || orders.length"
               [pageSize]="pageSize"
               (page)="pageEvent($event)"
               [hidePageSize]="true"
               [pageIndex]="pageIndex"
>
</mat-paginator>
