<div class="margin-top-25">
    <h5>Addresses</h5>

    <app-address-form [addresses]="addresses"  (deleteAddress)="removeAddress($event.index, $event.id)" (submitAddress)="saveAddress($event)"></app-address-form>

  

    <div class="text-right" *ngIf="toggleAddButton">
        <button (click)="addAddress()" class="btn btn-light btn-round btn-fab btn-fab-mini"><i class="fa fa-plus"></i>
        </button>
    </div>
</div>
