<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="red">
                <i class="material-icons">person</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Add Account</h4>

                <app-create-customer-form></app-create-customer-form>
            </div>
        </div>
    </div>
</div>