<div class="row">
  <div class="col-md-12 col-xs-12 add-new-order-container margin-top-20 margin-bottom-20">
    <button class="btn btn-primary btn-round btn-fab btn-fab-mini pull-right" (click)="openAddCategoryModal()">
      <i class="fa fa-plus-circle"></i>
    </button>
  </div>
</div>

<div class="material-datatables">
  <table datatable class="table table-striped table-no-bordered table-hover" cellspacing="0"
         width="100%"
         style="width:100%">
    <thead>
      <tr *ngIf="itemList.length">
        <!--<th>Code</th>-->
        <th>English Name</th>
        <th>Arabic Name</th>
        <th>English Description</th>
        <th>Arabic Description</th>
        <th>Picture</th>
        <th class="disabled-sorting text-right">View</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let category of itemList; let i = index">
        <!--<td><img [src]="customer?.picturePath"></td>-->
        <!--<td>{{category?.code}}</td>-->
        <td>{{category?.nameEN}}</td>
        <td>{{category?.nameAR}}</td>
        <td>{{category?.descriptionEN}}</td>
        <td>{{category?.descriptionAR}}</td>
        <td><img class="category-img" *ngIf="category.pictureURL" [src]="category.pictureURL"></td>
        <td class="td-actions text-right">

          <button title="Activate" *ngIf="!category.isActive" (click)="setCategoryActive(category.id)"
                  type="button" rel="tooltip"
                  class="btn btn-info">
            <i class="fa fa-power-off"></i>
          </button>

          <button title="De-Activate" *ngIf="category.isActive" (click)="setCategoryDeactive(category.id)"
                  type="button" rel="tooltip"
                  class="btn btn-danger">
            <i class="fa fa-power-off"></i>
          </button>

          <button title="Edit" (click)="openEditCategoryModal(category)" type="button" rel="tooltip"
                  class="btn btn-info">
            <i class="fa fa-edit"></i>
          </button>

          <button title="Delete" (click)="deleteCategory(category.id)" type="button" rel="tooltip"
                  class="btn btn-danger">
            <i class="fa fa-close"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<p class="text-center" *ngIf="!itemList.length"><i class="fa fa-exclamation-triangle"></i> No Categories found.</p>
