@import "assets/css/custom-framwork-styles.css";

/* You can add global styles to this file, and also import other style files */

html body {
  h1, h2, h3, h4, h5 {
    text-transform: capitalize;
  }
  .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    width: 100%;
  }
  .loading-icon {
    div {
      margin: 0 auto;
      width: 150px;
      height: 150px;
      background-image: url('assets/img/loading-icon.gif');
      background-size: cover;
    }
  }
  .loading-img {
    width: 100px
  }
  .btn-light {
    background-color: #AE2322;
    color: white;
    &:hover {
      background-color: #000;
    }
    &:focus {
      background-color: #AE2322;
      color: white;
    }
  }

  .error-message {
    color: red;
    i {
      display: inline;
    }
  }

  li.nav-item {
    cursor: pointer !important;
  }

  nav li.nav-item {
    cursor: pointer !important;
  }

}


