@import url(assets/css/custom-framwork-styles.css);
/* You can add global styles to this file, and also import other style files */
html body h1, html body h2, html body h3, html body h4, html body h5 {
  text-transform: capitalize;
}

html body .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
  width: 100%;
}

html body .loading-icon div {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-image: url("assets/img/loading-icon.gif");
  background-size: cover;
}

html body .loading-img {
  width: 100px;
}

html body .btn-light {
  background-color: #AE2322;
  color: white;
}

  html body .btn-light:hover {
    background-color: #000;
  }

  html body .btn-light:focus {
    background-color: #AE2322;
    color: white;
  }

html body .error-message {
  color: red;
}

  html body .error-message i {
    display: inline;
  }

html body li.nav-item {
  cursor: pointer !important;
}

html body nav li.nav-item {
  cursor: pointer !important;
}

.panel-group .panel {
  border-radius: 5px;
  border-color: #EEEEEE;
  padding: 0;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #346767;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }

.short-full {
  float: right;
  color: #fff;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: solid 1px #EEEEEE;
  background-color: #B7FFB7;
}
/*# sourceMappingURL=styles.css.map */
