<form #dateForm="ngForm" (ngSubmit)="dateForm.valid && saveDate()">
    <div class="form-group">
        <label>Name English</label>
        <input class="form-control" name="nameEN" [(ngModel)]="data.nameEN">
    </div>
    <div class="form-group">
        <label>Name Arabic</label>
        <input class="form-control" name="nameAR" [(ngModel)]="data.nameAR">
    </div>

    <div class="form-group">
        <div>
            <button type="button" class="btn btn-info"
                    (click)="datePicker.open()"><i
                    class="fa fa-calendar"></i> Date
            </button>
            <mat-datepicker #datePicker disabled="false"></mat-datepicker>
            <input class="form-control" name="craetedDateFrom"
                   required
                   [(ngModel)]="data.date" matInput
                   [matDatepicker]="datePicker"
                   disabled>
        </div>
    </div>


    <div class="text-right margin-top-35">
        <button class="btn btn-default" type="button" (click)="closeModal()">Close</button>
        <button class="btn btn-light" type="submit">Save</button>
    </div>
</form>
