<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">

    <div class="form-group">
      <label>Stock type</label>
      <select name="type" required (change)="getCategories()" [(ngModel)]="selectedType" class="form-control">
        <option [value]="undefined" *ngIf="!selectedType">-- Select Type --</option>
        <option *ngFor="let type of categoryTypes" [value]="type.nameEN">{{type.nameEN}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Category State</label>
      <select name="state" required (change)="getCategories()" [(ngModel)]="selectedState" class="form-control">
        <option [value]="undefined" *ngIf="!selectedState">-- Select Type --</option>
        <option [value]="'active'">Active Category</option>
        <option [value]="'deactive'">De-active Category</option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedState && selectedType">
      <label>Category</label>
      <select name="category" required [(ngModel)]="selectedCategory" class="form-control">
        <option [value]="undefined" *ngIf="!selectedCategory">-- Select Category --</option>
        <option *ngFor="let category of categoryList" [value]="category.id">{{category.nameEN}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedCategory">
      <label>Item State</label>
      <select name="itemState" required [(ngModel)]="selectedItemState" class="form-control" (change)="onChange($event)">
        <option [value]="undefined" *ngIf="!selectedItemState">-- Select Type --</option>
        <option [value]="'active'">Active Items</option>
        <option [value]="'deactive'">De-active Items</option>
      </select>
    </div>

    <div class="form-group">
      <label>Select item</label>
      <select name="itemState" required class="form-control" (change)="onSelectItem($event.target.value)">
        <option [value]="undefined">-- Select item --</option>
        <option *ngFor="let item of itemsList" [value]="item.id">{{item.nameEN}}</option>
      </select>
    </div>

  </div>
</div>