<div class="row">
  <div class="col-md-12 col-xs-12">
    <button (click)="back()" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</button>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card card-product">
      <!--<div class="card-image" data-header-animation="true">-->
      <!--<a href="">-->
      <!--<img class="img" src="../assets/img/cat7.png">-->
      <!--</a>-->
      <!--</div>-->
      <div class="card-content">
        <!--<div class="card-actions">-->
        <!--<button type="button" class="btn btn-danger btn-simple fix-broken-card">-->
        <!--<i class="material-icons">build</i> Fix Header!-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom"-->
        <!--title="View">-->
        <!--<i class="material-icons">art_track</i>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom"-->
        <!--title="Edit">-->
        <!--<i class="material-icons">edit</i>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom"-->
        <!--title="Remove">-->
        <!--<i class="material-icons">close</i>-->
        <!--</button>-->
        <!--</div>-->
        <h4 class="card-title">
          <a>Order Details</a>
        </h4>
        <!--<div class="card-description">-->
        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore-->
        <!--et dolore magna aliqua.-->
        <!--Ut enim ad minim veniam, quis nostrud exercitation ullamco.-->
        <!--</div>-->
      </div>

      <div class="card-footer row">
        <div class="price col-md-6">
          <p class="category" style="text-align: left">
            <i class="material-icons">account_circle</i>{{customerDetails?.firstName}}
            {{customerDetails?.lastName}}</p>
        </div>
        <div class="col-md-6">
          <p class="category" style="text-align: left">
            <i class="material-icons">place</i> {{governorate}}
          </p>
        </div>

        <!--<div class="stats pull-right">-->
        <!--&lt;!&ndash;<p class="category">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="material-icons">directions_bike</i> Delivery</p>&ndash;&gt;-->
        <!--</div>-->
      </div>


      <div class="card-footer row">
        <div class="col-md-6" *ngIf="deliveryNote">
          <p class="category" style="text-align: left">
            <i class="material-icons">info</i> {{deliveryNote}}
          </p>
        </div>
        <div class="col-md-6" *ngIf="createdUserName">
          <p class="category" style="text-align: left">
            <i class="material-icons">
              local_phone
            </i> {{createdUserName}}
          </p>
        </div>
        <div class="stats col-md-6 pull-right">
          <p class="category" style="text-align: left">
            <i class="material-icons">date_range</i> Created Date: {{createdDate | date:'fullDate'}}</p>
        </div>
        <div class="stats col-md-6 pull-right">
          <p class="category" style="text-align: left">
            <i class="material-icons">date_range</i> Delivery Date: {{deliveryDate | date:'fullDate'}}</p>
        </div>
      </div>


      <div class="card-footer text-center">
        <div class="price">
          <h4><strong>{{price}} {{currency}}</strong></h4>
        </div>
      </div>

      <div class="row text-center items-container margin-top-30">
        <div class="col-md-3 col-xs-3">
          <p><strong>Item</strong></p>
        </div>
        <div class="col-md-2 col-xs-2">
          <p *ngIf="typeApp"><strong>Cutting</strong></p>
          <p *ngIf="typeSales"><strong>Measurement</strong></p>
        </div>
        <div class="col-md-2 col-xs-2" *ngIf="typeSales">
          <p><strong>Average KG/Item</strong></p>
        </div>
        <div class="col-md-3 col-xs-3">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Option</strong></p>
            </div>
            <div class="col-md-6">
              <p><strong>Quantity</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-2">

          <!--<div class="col-md-6">-->
          <p><strong>Price</strong></p>
          <!--</div>-->
          <!--</div>-->
        </div>

      </div>
      <div *ngFor="let item of items" class="row text-center">
        <div class="col-md-3 col-xs-3">
          <p>{{item?.item?.nameEN}}</p>
        </div>
        <div class="col-md-2 col-xs-2">
          <p *ngIf="typeApp">{{item?.cutting?.nameEN}}</p>
          <p *ngIf="typeSales">{{item?.measurmentUnit?.name}}</p>
        </div>
        <div class="col-md-2 col-xs-2" *ngIf="typeSales">
          <p>{{item?.itemQuantityByKG}}</p>
        </div>
        <div class="col-md-3 col-xs-3">
          <div class="row">
            <div class="col-md-6">
              <p>{{item?.categorySubOption?.nameEN}}</p>
            </div>
            <div class="col-md-6">
              <p *ngIf="typeApp">{{item?.quantity?.nameEN}}</p>
              <p *ngIf="typeSales">{{item?.quantityValue}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-2">
          <p *ngIf="typeApp">{{item?.item?.price}} {{currency}}</p>
          <p *ngIf="typeSales">{{item?.salesPricePerItem}} {{currency}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
